<!-- <div class="main-div">
  <h4>Welcome</h4>
  <div class="row">
    <div role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
      <div class="form-group col-lg-12 col-md-12">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <span class="span-circle" (click)="Redirect()">
              PMS
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- Start header section -->
<!-- <header id="mu-header" class="bg-dark">
  <nav class="navbar navbar-default mu-main-navbar" role="navigation">
    <div class="container">

      <div class="col-md-10 col-sm-10">
        <p class="header">Welcome</p>
      </div>

    </div>
  </nav>
</header> -->
<!-- End header section -->


<header id="mu-header" class="bg-dark flex-md-nowrap shadow">
  <div class="container-fluid">
    <div class="row">
      <div class="col-logo">
        <a class="navbar-brand-kk" href="javascript:void(0)" (click)="MoveToVendorList()">
          <img src="assets/images/logo.png" alt="FabIndia"></a>
      </div>

      <div class="tog navbar-default">
        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
        <p class="header pull-center">Welcome</p>
      </div>

      <div id="navbar" class="collapse">

      </div>
    </div>
  </div>
</header>


<!-- Start Body -->
<div class="cont-body">
  <div class="row">
    <!-- 
    <div class="col-md-12">
      <div class="col-md-1 col-sm-1 col-as-4 span-circle">
        <div class="spanMsg">PMS</div>
      </div>
    </div>
 -->
    <ul class="icons_ul" style="display: none">
      <li><a href="javascript:void(0)" (click)="Redirect()"><img src="/assets/images/bg-circle.png" />
          <div>
            <h3>PMS</h3>
          </div>
        </a></li>
      <li><a href="javascript:void(0)" (click)="Redirect()"><img src="/assets/images/bg-circle.png" />
          <div>
            <h3>GST</h3>
          </div>
        </a></li>
      <li><a href="javascript:void(0)" (click)="Redirect()"><img src="/assets/images/bg-circle.png" />
          <div>
            <h3>WMS</h3>
          </div>
        </a></li>
      <li><a href="javascript:void(0)" (click)="Redirect()"><img src="/assets/images/bg-circle.png" />
          <div>
            <h3>PLM</h3>
          </div>
        </a></li>
      <!-- ... -->
    </ul>

    <ul class="icons_ul">
      <li><a href="javascript:void(0)" (click)="Redirect()"><img src="/assets/images/bg-circle.png" />
          <h4>PMS</h4>
        </a></li>
      <!-- <li><a href="javascript:void(0)" (click)="Redirect()"><img src="/assets/images/bg-circle.png" />
          <h4>GST</h4>
        </a></li>
      <li><a href="javascript:void(0)" (click)="Redirect()"><img src="/assets/images/bg-circle.png" />
          <h4>WMS</h4>
        </a></li>
      <li><a href="javascript:void(0)" (click)="Redirect()"><img src="/assets/images/bg-circle.png" />
          <h4>PLM</h4>
        </a></li> -->
      <!-- ... -->
    </ul>
  </div>
  <div class="row wltop" style="display: none;">
    <div role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
      <div class="form-group col-lg-12 col-md-12">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-as-4">


            <ul class="icons_ul">
              <li><a href="javascript:void(0)" (click)="Redirect()"><img src="/assets/images/bg-circle.png" />
                  <div>
                    <h3>PMS</h3>
                  </div>
                </a></li>
              <!-- <li><a href="#"><img src="/assets/images/bg-circle.png" />
                  <div>
                    <h3>GST</h3>
                  </div>
                </a></li>
              <li><a href="#"><img src="/assets/images/bg-circle.png" />
                  <div>
                    <h3>PMS</h3>
                  </div>
                </a></li>
              <li><a href="#"><img src="/assets/images/bg-circle.png" />
                  <div>
                    <h3>PMS</h3>
                  </div>
                </a></li>
              <li><a href="#"><img src="/assets/images/bg-circle.png" />
                  <div>
                    <h3>PMS</h3>
                  </div>
                </a></li> -->


            </ul>


          </div>

          <!-- <div class="col-lg-2 col-md-2 col-as-4">
            <span class="span-circle" (click)="Redirect()">
              WMS
            </span>
          </div>

          <div class="col-lg-2 col-md-2 col-as-4">
            <span class="span-circle" (click)="Redirect()">
              PLM
            </span>
          </div>
          <div class="col-lg-2 col-md-2 col-as-4">
            <span class="span-circle" (click)="Redirect()">
              GST
            </span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Body section -->
<!-- Start Footer -->
<footer class="footer fixed-bottom bg-dark flex-md-nowrap shadow">
  <p>Copyright © 2019 Fabindia Overseas Pvt. Limited. All rights reserved.</p>
</footer>