<!-- <div class="main-div">
  <h4>Welcome</h4>
  <div class="row">
    <div role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
      <div class="form-group col-lg-12 col-md-12">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <span class="span-circle" (click)="Redirect()">
              PMS
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- Start header section -->
<header id="mu-header">
  <nav class="navbar navbar-default mu-main-navbar" role="navigation">
    <div class="container">

      <div class="col-md-10 col-sm-10">
        <p class="header">Welcome</p>
      </div>

    </div>
  </nav>
</header>
<!-- End header section -->

<!-- Start Body -->
<div class="cont-body">
  <div class="row" style="margin-top: 50px">
    <div role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
      <div class="form-group col-lg-12 col-md-12">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <span class="span-circle" (click)="Redirect()">
              PMS
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Body section -->
<!-- Start Footer -->
<footer class="footer fixed-bottom bg-dark flex-md-nowrap shadow">
  <p>Copyright © 2019 Fabindia Overseas Pvt. Limited. All rights reserved.</p>
</footer>