<form [formGroup]="DepartmentMappingForm" (ngSubmit)="SaveDepartmentDetails()" novalidate>

  <div class="form-inline">
    <div class="content-heading" align="left">Department Mapping</div>
    <div class="row">
      <div class="col-sm-5">
        <div class="col-sm-6 mt-1 mb-1 form-group dropdown">
          <label class="text">Division</label>
          <select formControlName="DivList" class="form-control input-sm" size="5" multiple="multiple">
            <option *ngFor="let Div of DivisionList" [value]="Div.MDDCode">
              {{ Div.MDDName }}</option>
          </select>
        </div>
        <div class="col-sm-6 form-group dropdown">
          <select formControlName="Division" class="form-control input-sm" (change)="GetDepartment($event)">
            <option *ngIf="DivisionList.length === 0" [value]="0">No Division Left</option>
            <option *ngIf="DivisionList.length !== 0" [value]="-1" selected="selected">All</option>
            <option *ngFor="let Div of DivisionList" [value]="Div.MDDCode">
              {{ Div.MDDName }}</option>
          </select>
          <label class="text">Department</label>
          <select formControlName="Department" class="form-control input-sm dropdown" size="5" multiple="multiple">
            <option *ngFor="let Dept of FilteredDeptList" [value]="Dept.MDDCode">
              {{ Dept.MDDName }}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-2" style="padding-left:25px;">

        <input type="button" style="margin-top: 110px;" value=">" (click)="MoveToSelectedList()">
        <br />
        <input type="button" style="margin-top: 10px;" value="<" (click)="RemoveFromSelectedList()">

      </div>
      <div class="col-sm-5" style="padding-left:8px;padding-right: 0px">
        <div class="mt-1 mb-1 col-sm-6 form-group" style="width: 250px; max-width: 250px;;">
          <label class="text">Selected Division/Department</label>
          <select formControlName="SelectedList" class="form-control input-sm" size="15" multiple="multiple">
            <option *ngFor="let DD of SelectedDD" [value]="DD.MDDCode">
              {{ DD.MDHCode === 'DEPT' ? DD.MDDName + ' (Department)' : DD.MDDName + ' (Division)' }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <hr>
    <div class="page-footer md-auto mr-auto" style="margin-bottom: 10px">
      <button type="submit" class="mr-3 btn btn-primary">Save</button>
      <button [routerLink]="['/vendor']" type="button" class="btn btn-secondary">Cancel</button>
    </div>
  </div>

</form>