input[type="text"], select {
      margin-bottom:0px !important;
}

fieldset legend {
    font-size: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 0px 5px 0px;
}

.modal label {
    font-size: 13px;
}

.error-label {
    color:red;
}