.error-label{color:red;font-size: 90%;font-weight: 400;}
.modal label{font-size: 13px;}
.table > tbody > tr > td{
    font-family: verdana;
    color: #000000;
    font-size: 13px;
    /*font-weight: 700;*/
}
input[type="text"], select {
    margin-bottom:0px !important;
}

