<div *ngIf="Address.AddressCode !== ''" class="modal" id="myModal" tabindex="-1" role="dialog" style="display: none;">
  <!-- modal-dialog -->
  <div class="modal-dialog modal-lg">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
        <h6 class="modal-title">Add New Address</h6>
        <button class="close" aria-label="Close" (click)="ResetForm()" data-dismiss="modal"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <!-- modal-body -->
      <form class="form-inline" *ngIf="AddressForm && vendor" [formGroup]="AddressForm" novalidate
        (ngSubmit)="SaveAddressDetails()">

        <div class="modal-body">

          <div class="row col-md-12">
            <div class="form-group col-md-4">
              <label class="text col-md-4">Address1<i class="mandatory">*</i></label>
              <input (blur)="LogValidationErrors()" formControlName="Address1" type="text"
                class="form-control col-md-8 input-sm" [ngClass]="{'is-invalid': formErrors.Address1}" />
            </div>

            <div class="form-group col-md-4">
              <label class="text col-md-4">Address2</label>
              <input formControlName="Address2" type="text" class="form-control col-md-8 input-sm" />
            </div>

            <div class="form-group col-md-4">
              <label class="text  col-md-4">Address3</label>
              <input formControlName="Address3" type="text" class="form-control col-md-8 input-sm" />
            </div>
          </div>

          <div class="row col-md-12">
            <div class="form-group col-md-4">
              <label class="text col-md-4">Country<i class="mandatory">*</i></label>
              <select formControlName="CountryCode" (blur)="LogValidationErrors()"
                class="form-control col-md-8 input-sm" [ngClass]="{'is-invalid': formErrors.CountryCode}">
                <option selected value>Select</option>
                <option *ngFor="let country of CountryList" value="{{country.MDDCode}}">{{country.MDDName}}</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label class="text col-md-4">State<i class="mandatory">*</i></label>
              <select formControlName="StateCode" (blur)="LogValidationErrors()" class="form-control col-md-8 input-sm"
                [ngClass]="{'is-invalid': formErrors.StateCode}">
                <option selected value>Select</option>
                <option *ngFor="let state of StateList" value="{{state.MDDCode}}">{{state.MDDName}}</option>
              </select>
            </div>

            <div class="form-group col-md-4" style="display:none;">
              <label class="text col-md-4">OrgUnitCode<i class="mandatory">*</i></label>
              <select formControlName="OrgUnitCode" (blur)="LogValidationErrors()"
                class="form-control col-md-8 input-sm" [ngClass]="{'is-invalid': formErrors.OrgUnitCode}">
                <option selected value>Select</option>
                <option *ngFor="let PH of SelectedPHList" value="{{PH.OrgUnitCode}}">{{PH.OrgUnitName}}</option>
              </select>
            </div>
          </div>

          <div class="row col-md-12">
            <div class="form-group col-md-4">
              <label class="text  col-md-4">Pincode<i class="mandatory">*</i><span class="help-block mandatory"
                  *ngIf="formErrors.PIN">
                  {{formErrors.PIN}}
                </span></label>
              <input formControlName="PIN" (blur)="LogValidationErrors()" type="text"
                class="form-control  col-md-8 input-sm" [ngClass]="{'is-invalid': formErrors.PIN}" />
            </div>

            <div class="form-group col-md-4">
              <label class="text  col-md-4">City/District<i class="mandatory">*</i></label>
              <input (blur)="LogValidationErrors()" formControlName="CityCode" type="text"
                class="form-control  col-md-8 input-sm" [ngClass]="{'is-invalid': formErrors.CityCode}" />
            </div>

            <div class="col-md-4 form-group">
              <label class="text col-md-4"> Address Type </label>&nbsp;&nbsp;
              <span class="row col-md-8">
                <label>
                  <input value="F" type="radio" formControlName="AddressTypeCode">
                  &nbsp;Factory
                </label>
                <label style="margin-left: 10px;">
                  <input value="O" type="radio" formControlName="AddressTypeCode">
                  &nbsp;Office
                </label>
              </span>
            </div>
          </div>

<hr>

          <!-- Contact -->

          <div class="row col-md-12">
            <div class="form-group col-md-6">
              <label class="text col-md-6">Primary Contact Name<i class="mandatory">*</i></label>
              <input (blur)="LogValidationErrors()" formControlName="PrimaryContactName" type="text"
                class="form-control col-md-6 input-sm" [ngClass]="{'is-invalid': formErrors.PrimaryContactName}" />
            </div>

            <div class="form-group col-md-6">
              <label class="text col-md-6">Secondary Contact Name</label>
              <input (blur)="LogValidationErrors()" formControlName="SecondaryContactName" type="text"
                class="form-control col-md-6 input-sm" />
            </div>
          </div>

          <div class="row col-md-12">
            <div class="form-group col-md-6">
              <label class="text col-md-6">Primary Phone No.<i class="mandatory">*</i></label>
              <input (blur)="LogValidationErrors()" formControlName="PrimaryContactPhone" type="text"
                class="form-control col-md-6 input-sm" [ngClass]="{'is-invalid': formErrors.PrimaryContactPhone}" />
            </div>

            <div class="form-group col-md-6">
              <label class="text col-md-6">Secondary Phone No.</label>
              <input (blur)="LogValidationErrors()" formControlName="SecondaryContactPhone" type="text"
                class="form-control col-md-6 input-sm" />
            </div>
          </div>

          <div class="row col-md-12">
            <div class="form-group col-md-6">
              <label class="text col-md-6">Primary Fax</label>
              <input (blur)="LogValidationErrors()" formControlName="PrimaryContactFax" type="text"
                class="form-control col-md-6 input-sm" />
            </div>

            <div class="form-group col-md-6">
              <label class="text col-md-6">Secondary Fax</label>
              <input (blur)="LogValidationErrors()" formControlName="SecondaryContactFax" type="text"
                class="form-control col-md-6 input-sm" />
            </div>
          </div>

          <div class="row col-md-12">
            <div class="form-group col-md-6">
              <label class="text col-md-6">Primary E-Mail</label>
              <input (blur)="LogValidationErrors()" formControlName="PrimaryContactEmail" type="text"
                class="form-control col-md-6 input-sm" />
            </div>

            <div class="form-group col-md-6">
              <label class="text col-md-6">Secondary E-Mail</label>
              <input (blur)="LogValidationErrors()" formControlName="SecondaryContactEmail" type="text"
                class="form-control col-md-6 input-sm" />
            </div>
          </div>

          <div class="row col-md-12">
            <div class="form-group col-md-6">
              <label class="text col-md-6">Primary Website</label>
              <input (blur)="LogValidationErrors()" formControlName="PrimaryContactWebsite" type="text"
                class="form-control col-md-6 input-sm" />
            </div>

            <div class="form-group col-md-6">
              <label class="text col-md-6">Secondary Website</label>
              <input (blur)="LogValidationErrors()" formControlName="SecondaryContactWebsite" type="text"
                class="form-control col-md-6 input-sm" />
            </div>
          </div>


        </div>
        <div class="mr-auto modal-footer ml-auto">
          <div class="col-md-12">
            <!-- <button [disabled]="!AddressForm.valid" type="submit" class="mr-3 btn btn-primary">Save</button> -->
            <button type="submit" (click)="LogValidationErrors()" class="mr-3 btn btn-primary">Save</button>
            <button #modalCloseButton data-dismiss="modal" type="button" (click)="ResetForm()"
              class="btn">Cancel</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>