<div *ngIf="AddressForm.AddressCode !== null && AddressForm.AddressCode !== ''" class="modal fade" id="myModal"
  tabindex="-1" role="dialog" style="display: none;">
  <!-- modal-dialog -->
  <div class="modal-dialog modal-lg">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
        <h6 class="modal-title">{{(Address.AddressCode !== null && Address.AddressCode !== '') ? 'Edit' : 'Add New'}}
          Address</h6>
        <button class="close" aria-label="Close" (click)="ResetForm()" data-dismiss="modal"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <!-- modal-body -->
      <!-- New Contact -->
      <form *ngIf="AddressForm && vendor" [formGroup]="AddressForm" novalidate (ngSubmit)="SaveAddressDetails()">
        <input type="hidden" formControlName="OrgUnitCode" />
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-12">
              <fieldset>
                <div class="form-group row">
                  <div class="col-md-3">
                    <label class="text">Address 1<i class="mandatory">*</i></label>
                    <input (blur)="LogValidationErrors()" formControlName="Address1" type="text"
                      class="form-control input-sm" [ngClass]="{'is-invalid': formErrors.Address1}">
                  </div>
                  <div class="col-md-3">
                    <label class="text">Address 2</label>
                    <input formControlName="Address2" type="text" class="form-control input-sm">
                  </div>
                  <div class="col-md-3">
                    <label class="text">Address 3</label>
                    <input formControlName="Address3" type="text" class="form-control input-sm">
                  </div>
                  <div class="col-md-3">
                    <label class="text">Address Type</label>
                    <div class="col-md-12">
                      <label class="text form-check-label">
                        <input value="F" formControlName="AddressTypeCode" class="form-check-input" type="radio">Factory
                      </label>
                      <label class="text form-check-label" style="margin-left: 30px;">
                        <input class="form-check-input" formControlName="AddressTypeCode" type="radio" value="I">
                        Sister Concern</label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-3">
                    <label class="text">Country<i class="mandatory">*</i></label>
                    <span>
                      <select formControlName="CountryCode" (blur)="LogValidationErrors()" class="form-control input-sm"
                        [ngClass]="{'is-invalid': formErrors.CountryCode}">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let country of CountryList" value="{{country.MDDCode}}">{{country.MDDName}}
                        </option>
                      </select>
                    </span>
                  </div>
                  <div class="col-md-3">
                    <label class="text">State<i class="mandatory">*</i></label>
                    <span>
                      <select formControlName="StateCode" (blur)="LogValidationErrors()" class="form-control input-sm"
                        [ngClass]="{'is-invalid': formErrors.StateCode}">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let state of StateList" value="{{state.MDDCode}}">{{state.MDDName}}</option>
                      </select>
                    </span>
                  </div>
                  <div class="col-md-3">
                    <label class="text">City<i class="mandatory">*</i></label>
                    <input (blur)="LogValidationErrors()" formControlName="CityCode" type="text"
                      class="form-control input-sm" [ngClass]="{'is-invalid': formErrors.CityCode}">
                  </div>
                  <div class="col-md-2">
                    <label class="text">Pin Code<i class="mandatory">*</i>
                      <span class="help-block mandatory" *ngIf="formErrors.PIN">
                        {{formErrors.PIN}}
                      </span>
                    </label>
                    <input formControlName="PIN" [pattern]="NumberPattern" (blur)="LogValidationErrors()" type="text"
                      class="form-control input-sm" [ngClass]="{'is-invalid': formErrors.PIN}">
                  </div>
                </div>
              </fieldset>
            </div>
            <hr>
            <div class="form-group col-md-12">
              <fieldset>
                <legend>Primary Info</legend>
                <div class="form-group row">
                  <div class="col-md-22">
                    <label class="text">Contact Name<i class="mandatory">*</i></label>
                    <input (blur)="LogValidationErrors()" formControlName="PrimaryContactName" type="text"
                      class="form-control input-sm" [ngClass]="{'is-invalid': formErrors.PrimaryContactName}">
                  </div>
                  <div class="col-md-22">
                    <label class="text">Phone No.<i class="mandatory">*</i></label>
                    <input type="text" (blur)="LogValidationErrors()" formControlName="PrimaryContactPhone"
                      class="form-control input-sm" [ngClass]="{'is-invalid': formErrors.PrimaryContactPhone}">
                  </div>
                  <div class="col-md-22">
                    <label class="text">Fax</label>
                    <input type="text" (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.PrimaryContactFax}"
                    formControlName="PrimaryContactFax" class="form-control input-sm">
                  </div>
                  <div class="col-md-22">
                    <label class="text">Email</label>
                    <input type="email" (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.PrimaryContactEmail}"
                     formControlName="PrimaryContactEmail" class="form-control input-sm">
                  </div>
                  <div class="col-md-22">
                    <label class="text">Website</label>
                    <input type="text" (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.PrimaryContactWebsite}" 
                    formControlName="PrimaryContactWebsite" class="form-control input-sm">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="form-group col-md-12">
              <fieldset>
                <legend>Secondary Info</legend>
                <div class="form-group row">
                  <div class="col-md-22">
                    <label class="text">Contact Name</label>
                    <input (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.SecondaryContactName}" 
                    formControlName="SecondaryContactName" type="text" class="form-control input-sm">
                  </div>
                  <div class="col-md-22">
                    <label class="text">Phone No.</label>
                    <input  type="text" (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.SecondaryContactPhone}"
                    formControlName="SecondaryContactPhone" class="form-control input-sm">
                  </div>
                  <div class="col-md-22">
                    <label class="text">Fax</label>
                    <input type="text" (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.SecondaryContactFax}"
                    formControlName="SecondaryContactFax" class="form-control input-sm">
                  </div>
                  <div class="col-md-22">
                    <label class="text">Email</label>
                    <input type="email" (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.SecondaryContactEmail}"
                    formControlName="SecondaryContactEmail" class="form-control input-sm">
                  </div>
                  <div class="col-md-22">
                    <label class="text">Website</label>
                    <input type="text" (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.SecondaryContactWebsite}"
                    formControlName="SecondaryContactWebsite" class="form-control input-sm">
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="ml-auto mr-auto">
            <button type="submit" (click)="LogValidationErrors()" class="mr-3 btn btn-primary">Save</button>
            <button #modalCloseButton data-dismiss="modal" type="button" (click)="ResetForm()"
              class="btn btn-secondary">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>