<form class="form-inline" [formGroup]="technicalDetailsForm" (ngSubmit)="SaveTechnicalDetails()" novalidate>
  <div class="main-div">
    <div class="">
        <div class="content-heading">
          <a href="javascript:void(0)" (click)="ToggleAllContainer()" 
          class="glyphicon-expand"><span>
              {{technicalDetailsForm.controls.IsAllExpanded.value ? '+' : '-'}}
          </span></a>
          {{technicalDetailsForm.controls.IsAllExpanded.value ? 'Expand All' : 'Collapse All'}}
        </div>
    </div>

      <!-- Cutting Machines Info -->
      <div class="detail-page">
        <div class="col clearfix" formGroupName="cuttingDetails">
            <div class="content-heading">
                <a href="javascript:void(0)" (click)="ToggleContainer(technicalDetailsForm.get('cuttingDetails'))"
                class="glyphicon-expand"><span>
                  {{technicalDetailsForm.get('cuttingDetails').controls.IsExpanded.value ? '-' : '+'}}
                </span></a>Cutting
            </div>
            <div class="detailslider" [ngClass]="{closed: !technicalDetailsForm.get('cuttingDetails').controls.IsExpanded.value}">
              <div class="col-md-12 form-group">
                <div class="col-md-3">
                  <label class="text">Others <span>(Eastman)</span></label>
                  <span><input type="text" name="OCutEastman" formControlName="OCutEastman" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Others <span>(Straight Knift)</span></label>
                  <span><input type="text" name="OCutStraight" formControlName="OCutStraight" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Band Knives</label>
                  <span><input type="text" name="OCutBandKnives" formControlName="OCutBandKnives" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Circular Cutters</label>
                  <span><input type="text" name="OCutCircularCutters" formControlName="OCutCircularCutters" class="form-control input-sm" /></span>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <div class="col-md-3">
                  <label class="text">Computerised Cutting Table</label>
                  <span><input type="text" name="ComputerisedCuttingTable" formControlName="ComputerisedCuttingTable" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Conveyer Fusing M/C</label>
                  <span><input type="text" name="ConveyerFusing" formControlName="ConveyerFusing" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Die Cutting Machine</label>
                  <span><input type="text" name="DieCutting" formControlName="DieCutting" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">End Cutter</label>
                  <span><input type="text" name="EndCutter" formControlName="EndCutter" class="form-control input-sm" /></span>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <div class="col-md-3">
                  <label class="text">Manual Fusing Machine</label>
                  <span><input type="text" name="ManualFusing" formControlName="ManualFusing" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Others <span>(Dirihole)</span></label>
                  <span><input type="text" name="OthersD" formControlName="OthersD" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Others <span>(Manual Cutting)</span></label>
                  <span><input type="text" name="OthersMC" formControlName="OthersMC" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Vertical Cutters</label>
                  <span><input type="text" name="VerticalCutters" formControlName="VerticalCutters" class="form-control input-sm" /></span>
                </div>
              </div>
          </div>            
        </div>
        <hr>
        <!--Dying / Processing Machine-->
       
        <div class="col clearfix" formGroupName="DyingProcessingDetails">
          <div class="content-heading">
            <a href="javascript:void(0)" (click)="ToggleContainer(technicalDetailsForm.get('DyingProcessingDetails'))"
            class="glyphicon-expand"><span>
              {{technicalDetailsForm.get('DyingProcessingDetails').controls.IsExpanded.value ? '-' : '+'}}
            </span></a>Dying / Processing Machine
          </div>
          <div class="detailslider" [ngClass]="{closed: !technicalDetailsForm.get('DyingProcessingDetails').controls.IsExpanded.value}">
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">03 Needle Overlock M/C</label>
                <span><input type="text" name="DyProNeedleThreeOverlockMC" formControlName="DyProNeedleThreeOverlockMC" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">05 Needle Overlock M/C</label>
                <span><input type="text" name="DyProNeedleFiveOverlockMC" formControlName="DyProNeedleFiveOverlockMC" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">04 Threads Overlock M/C</label>
                <span><input type="text" name="DyProThreadFourOverlockMC" formControlName="DyProThreadFourOverlockMC" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">05 Threads Overlock M/C</label>
                <span><input type="text" name="DyProThreadFiveOverlockMC" formControlName="DyProThreadFiveOverlockMC" class="form-control input-sm" /></span>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">4 Threads 5 Threads Overlock</label>
                <span><input type="text" name="DyProThreadsOverlock" formControlName="DyProThreadsOverlock" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Button Attaching M/C</label>
                <span><input type="text" name="DyProButtonAttaching" formControlName="DyProButtonAttaching" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Button Attaching M/C</label>
                <span><input type="text" name="DyProButtonAttaching" formControlName="DyProButtonAttaching" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Button Attachment Plus Button Hole</label>
                <span><input type="text" name="DyProButtonAttachPlusButtonHole" formControlName="DyProButtonAttachPlusButtonHole" class="form-control input-sm" /></span>
              </div>
            </div>

            <div class="col-md-12 form-group">
            
              <div class="col-md-3">
                <label class="text">Button hole M/C</label>
                <span>
                  <input type="text" name="ManualFusing" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                  <label class="text">Double Needle M/C</label>
                  <span>
                    <input type="text" name="OthersD" class="form-control input-sm" />
                  </span>
                </div>
                <div class="col-md-3">
                  <label class="text">Fabric Cutting  Machine</label>
                  <span>
                    <input type="text" name="OthersMC" class="form-control input-sm" />
                  </span>
                </div>
                <div class="col-md-3">
                  <label class="text">Jet</label>
                  <span>
                    <input type="text" name="VerticalCutters" class="form-control input-sm" />
                  </span>
                </div>
            </div>

            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Jigger</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                <label class="text">Others (Straight Knift)</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                <label class="text">Band Knives</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                  <label class="text">Circular Cutters</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
            </div>

            <div class="col-md-12 form-group">
            
              <div class="col-md-3">
                <label class="text">Jigger</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                <label class="text">Others (Straight Knift)</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                  <label class="text">Band Knives</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
                <div class="col-md-3">
                  <label class="text">Circular Cutters</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
            </div>

            <div class="col-md-12 form-group">
             
              <div class="col-md-3">
                <label class="text">Jigger</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                  <label class="text">Kaaj Button M/C</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
                <div class="col-md-3">
                  <label class="text">Noval Dye Jigar</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
                <div class="col-md-3">
                  <label class="text">Others M/C</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
            </div>

            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Overlock M/C</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                <label class="text">S.N.L.S M/C</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                <label class="text">Santa Brand SN</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                  <label class="text">Single Needle M/C</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
            </div>

            <div class="col-md-12 form-group">
             
              <div class="col-md-3">
                <label class="text">SNLS</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                <label class="text">Soft Plow</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <!--Fabric Checking Machine-->
        <div class="col clearfix" formGroupName="fabricDetails">
          <div class="content-heading">
            <a href="javascript:void(0)" (click)="ToggleContainer(technicalDetailsForm.get('fabricDetails'))"
              class="glyphicon-expand"><span>
                {{technicalDetailsForm.get('fabricDetails').controls.IsExpanded.value ? '-' : '+'}}
              </span></a>
            Fabric Checking Machine
          </div>
          <div class="detailslider" [ngClass]="{closed: !technicalDetailsForm.get('fabricDetails').controls.IsExpanded.value}">
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Fabric Checking Machine</label>
                <span><input type="text" name="FabricCheckingMc" formControlName="FabricCheckingMc" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others</label>
                <span><input type="text" name="fabricOthers" formControlName="fabricOthers" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others <span>(Safety Stitch M/C)</span></label>
                <span><input type="text" name="OthersSSM" formControlName="OthersSSM" class="form-control input-sm" /></span>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <!--Finishing Machine-->
        <div class="col clearfix" formGroupName="finishingDetails">
          <div class="content-heading">
            <a href="javascript:void(0)" (click)="ToggleContainer(technicalDetailsForm.get('finishingDetails'))"
            class="glyphicon-expand"><span>
              {{technicalDetailsForm.get('finishingDetails').controls.IsExpanded.value ? '-' : '+'}}
            </span></a>
              Finishing Machine
          </div>
          <div class="detailslider" [ngClass]="{closed: !technicalDetailsForm.get('finishingDetails').controls.IsExpanded.value}">
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Diesel Fired Steam Boiler</label>
                <span><input type="text" name="DieselFiredSteamBoiler" formControlName="DieselFiredSteamBoiler" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Electric</label>
                <span><input type="text" name="Electric" formControlName="Electric" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others <span>(Needle director machine/Stain removing M/C)</span></label>
                <span><input type="text" name="OthersNDMS" formControlName="OthersNDMS" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others <span>(Power backup)</span></label>
                <span><input type="text" name="OthersPB" formControlName="OthersPB" class="form-control input-sm" /></span>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Others <span>(Steam bottle)</span></label>
                <span><input type="text" name="OthersSB" formControlName="OthersSB" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others Sporting M/C</label>
                <span><input type="text" name="OthersSporting" formControlName="OthersSporting" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others <span>(Power backup)</span></label>
                <span><input type="text" name="OthersPowerBc" formControlName="OthersPowerBc" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Pressing Table</label>
                <span><input type="text" name="PressingTable" formControlName="PressingTable" class="form-control input-sm" /></span>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Tagging Mach.</label>
                <span><input type="text" name="Tagging" formControlName="Tagging" class="form-control input-sm" /></span>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <!--Sewing Machine-->
        <div class="col clearfix" formGroupName="sewingDetails">
          <div class="content-heading">
            <a href="javascript:void(0)" (click)="ToggleContainer(technicalDetailsForm.get('sewingDetails'))"
            class="glyphicon-expand"><span>
              {{technicalDetailsForm.get('sewingDetails').controls.IsExpanded.value ? '-' : '+'}}
            </span></a>Sewing
          </div>
          <div class="detailslider" [ngClass]="{closed: !technicalDetailsForm.get('sewingDetails').controls.IsExpanded.value}">
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Bartack M/C</label>
                <span><input type="text" name="Bartack" formControlName="Bartack" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Belt Attach 8 Needle</label>
                <span><input type="text" name="BeltAttach" formControlName="BeltAttach" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Blind ST M/C</label>
                <span><input type="text" name="BlindST" formControlName="BlindST" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Button Fixing M/C</label>
                <span><input type="text" name="ButtonFixing" formControlName="ButtonFixing" class="form-control input-sm" /></span>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Button Hole Eyelet</label>
                <span><input type="text" name="ButtonHoleEyelet" formControlName="ButtonHoleEyelet" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Chain ST M/C</label>
                <span><input type="text" name="ChainST" formControlName="ChainST" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Chain ST M/C <span>(DNCS)</span></label>
                <span><input type="text" name="ChainSTDNCS" formControlName="ChainSTDNCS" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Double Needle Chain ST</label>
                <span><input type="text" name="DoubleNeedleChain" formControlName="DoubleNeedleChain" class="form-control input-sm" /></span>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Double Needle Lock ST</label>
                <span><input type="text" name="DoubleNeedleLockST" formControlName="DoubleNeedleLockST" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Embriodery M/C</label>
                <span><input type="text" name="EmbrioderyMC" formControlName="EmbrioderyMC" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Feed Of The Arm</label>
                <span><input type="text" name="FeedOfTheArm" formControlName="FeedOfTheArm" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Flat Lock Machine</label>
                <span><input type="text" name="FlatLock" formControlName="FlatLock" class="form-control input-sm" /></span>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Kansai</label>
                <span><input type="text" name="Kansai" formControlName="Kansai" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Lock Stitch M/C</label>
                <span><input type="text" name="LockStitch" formControlName="LockStitch" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Loop Making</label>
                <span><input type="text" name="LoopMaking" formControlName="LoopMaking" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others Pleating M/C</label>
                <span><input type="text" name="OthersPleating" formControlName="OthersPleating" class="form-control input-sm" /></span>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Others <span>(AARI Embroidery M/C)</span></label>
                <span><input type="text" name="OthersAARIEmbroidery" formControlName="OthersAARIEmbroidery" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others <span>(Bartek)</span></label>
                <span><input type="text" name="OthersBartek" formControlName="OthersBartek" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others  <span>(Layyer Topper Ironing)</span></label>
                <span><input type="text" name="OthersLayyerTopper" formControlName="OthersLayyerTopper" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Pocket Facing</label>
                <span><input type="text" name="PocketFacing" formControlName="PocketFacing" class="form-control input-sm" /></span>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Rivet And Button Fixing Machines</label>
                <span><input type="text" name="RivetAndButtonFixing" formControlName="RivetAndButtonFixing" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Seddle Stitch</label>
                <span><input type="text" name="SeddleStitch" formControlName="SeddleStitch" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Snap Faster Press</label>
                <span><input type="text" name="SnapFasterPress" formControlName="SnapFasterPress" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Waist Band M/C</label>
                <span><input type="text" name="WaistBand" formControlName="WaistBand" class="form-control input-sm" /></span>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Zig Zag M/C</label>
                <span><input type="text" name="ZigZagMC" formControlName="ZigZagMC" class="form-control input-sm" /></span>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <!--Special Quality Machine-->
        <div class="col clearfix" formGroupName="qualityDetails">
          <div class="content-heading">
            <a href="javascript:void(0)" (click)="ToggleContainer(technicalDetailsForm.get('qualityDetails'))"
            class="glyphicon-expand"><span>
              {{technicalDetailsForm.get('qualityDetails').controls.IsExpanded.value ? '-' : '+'}}
            </span></a>Special Quality Machine
          </div>
          <div class="detailslider" [ngClass]="{closed: !technicalDetailsForm.get('qualityDetails').controls.IsExpanded.value}">
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Button Pull Tester</label>
                <span><input type="text" name="ButtonPullTester" formControlName="ButtonPullTester" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Colour Matching Cabinated</label>
                <span><input type="text" name="ColourMatchingCabinated" formControlName="ColourMatchingCabinated" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Crocometer</label>
                <span><input type="text" name="Crocometer" formControlName="Crocometer" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">GSM Machine</label>
                <span><input type="text" name="GsmMachine" formControlName="GsmMachine" class="form-control input-sm" /></span>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">GSM Round Cutter</label>
                <span><input type="text" name="GsmRoundCutter" formControlName="GsmRoundCutter" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Shrinkage Scale</label>
                <span><input type="text" name="ShrinkageScale" formControlName="ShrinkageScale" class="form-control input-sm" /></span>
              </div>
            </div>
          </div>
        </div>
        <hr> 
  
        <!--Washing/Dyeing Machine-->
        <div class="col clearfix" formGroupName="washingDyingDetails">
          <div class="content-heading">
            <a href="javascript:void(0)" (click)="ToggleContainer(technicalDetailsForm.get('washingDyingDetails'))"
            class="glyphicon-expand"><span>
              {{technicalDetailsForm.get('washingDyingDetails').controls.IsExpanded.value ? '-' : '+'}}
            </span></a>Washing/Dyeing Machine
          </div>
          <div class="detailslider" [ngClass]="{closed: !technicalDetailsForm.get('washingDyingDetails').controls.IsExpanded.value}">
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Drying Tumbler</label>
                <span><input type="text" name="DryingTumbler" formControlName="DryingTumbler" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Indigo Dye Bathtubs</label>
                <span><input type="text" name="IndigoDyeBathtubs" formControlName="IndigoDyeBathtubs" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others<span>(Dye unit)</span></label>
                <span><input type="text" name="OthersDyeUnit" formControlName="OthersDyeUnit" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others <span>(Screping Dummy M/C)</span></label>
                <span><input type="text" name="OthersScrepingDummy" formControlName="OthersScrepingDummy" class="form-control input-sm" /></span>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Others <span>(Thread Sucked M/C)</span></label>
                <span><input type="text" name="OthersThreadSucked" formControlName="OthersThreadSucked" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">PRC Dry Clean</label>
                <span><input type="text" name="PrcDryClean" formControlName="PrcDryClean" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Spray Dummy M/C</label>
                <span><input type="text" name="SprayDummy" formControlName="SprayDummy" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Washing Machine</label>
                <span><input type="text" name="WashingMachine" formControlName="WashingMachine" class="form-control input-sm" /></span>
              </div>
            </div>
          </div>
        </div>
        <hr> 

        <!--Washing Machine-->
        <div class="col clearfix" formGroupName="washingDetails">
          <div class="content-heading">
            <a href="javascript:void(0)" (click)="ToggleContainer(technicalDetailsForm.get('washingDetails'))"
            class="glyphicon-expand"><span>
              {{technicalDetailsForm.get('washingDetails').controls.IsExpanded.value ? '-' : '+'}}
            </span></a>Washing Machine
          </div>
          <div class="detailslider" [ngClass]="{closed: !technicalDetailsForm.get('washingDetails').controls.IsExpanded.value}">
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Hydro Extractor</label>
                <span><input type="text" name="HydroExtractor" formControlName="HydroExtractor" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Sample Washing Machine</label>
                <span><input type="text" name="SampleWashingMachine" formControlName="SampleWashingMachine" class="form-control input-sm" /></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!-- End of Detail Page -->

      <div class="col-md-12 page-footer">
          <button type="submit" class="mr-3 btn btn-primary">Save</button>
          <button routerLink="/Vendor" type="button" class="btn">Cancel</button>
      </div>
  </div>
</form>