<div class="col-lg-12 col-sm-12 row col-md-12">
  <input type="text" class="SearchBox mr-2" placeholder="Search" (keyup)="SearchTechDetails($event.target.value)"
    name="search">
  <button type="button" class="btn btn-primary float-right" data-toggle="modal" (click)="openModal()"
    data-target="#myModal" data-backdrop="static" data-keyboard="false">
    <i class="fa fa-plus"></i>
    <span title="Add new" class="py-4">Add</span>
  </button>
</div>
<div class="clearfix"></div>
<div class="col-lg-12 col-sm-12 col-md-12" style="margin-top:10px;">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Tech Line No.</th>
        <th scope="col">Machine Type</th>
        <th scope="col">Machine Name</th>
        <th scope="col">Efficiency</th>
        <th scope="col">Unit Count</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td rowspan="2">-</td>
        <td>Finishing</td>
        <td>Diesel Fired Steam Boiler</td>
        <td>90</td>
        <td>17</td>
        <td rowspan="2">
          <a title="Edit" href="javascript:void(0)" data-toggle="modal"
            (click)="GetTechDetails(vendor.VendorTechDetailsId)" data-target="#myModal" data-backdrop="static"
            data-keyboard="false"><i class="fa fa-edit"></i></a>

          <a title="Delete Machine" href="javascript:void(0)" class="ml-2" data-toggle="modal"
            (click)="DeleteTechDetailsPopup(vendor)" data-target="#deleteModal"><i class="fa fa-remove"></i></a>

        </td>
      </tr>
      <tr>
        <td>Cutting</td>
        <td>Band Knives</td>
        <td>90</td>
        <td>17</td>
      </tr>
      <tr>
        <td rowspan="3">Line 1<br>Default Efficiency: 80</td>
        <td>Finishing</td>
        <td>Diesel Fired Steam Boiler</td>
        <td>90</td>
        <td>17</td>
        <td rowspan="3">
          <a data-target="#myModal" data-toggle="modal" href="javascript:void(0)" title="Edit">
            <i class="fa fa-edit"></i></a>
          <a class="ml-2" data-target="#deleteModal" data-toggle="modal" href="javascript:void(0)"
            title="Delete Machine"><i class="fa fa-remove"></i></a>
        </td>
      </tr>
      <tr>
        <td>Cutting</td>
        <td>Band Knives</td>
        <td>88</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Dying / Processing</td>
        <td>03 Needle Overlock M/c.</td>
        <td>88</td>
        <td>10</td>
      </tr>
      <tr>
        <td rowspan="2">Line 2<br>Default Efficiency: 60</td>
        <td>Finishing</td>
        <td>Others (steam bottle)</td>
        <td>90</td>
        <td>17</td>
        <td rowspan="2">
          <a data-target="#myModal" data-toggle="modal" href="javascript:void(0)" title="Edit">
            <i class="fa fa-edit"></i></a>
          <a class="ml-2" data-target="#deleteModal" data-toggle="modal" href="javascript:void(0)"
            title="Delete Machine"><i class="fa fa-remove"></i></a>
        </td>
      </tr>
      <tr>
        <td>Cutting</td>
        <td>Others (Eastman)</td>
        <td>88</td>
        <td>10</td>
      </tr> -->

      <tr>
        <td colspan="7" *ngIf="totalItems === 0">No Record Found</td>
      </tr>

      <ng-container *ngFor="let vendor of pagedItems;index as i;">
        <ng-container *ngFor="let item of vendor.VendorTechDetailsList;index as j;">
          <tr>
            <td *ngIf="j === 0" [attr.rowspan]="(j === 0 ? vendor.VendorTechDetailsList.length : 0)">
              {{vendor.TechLineNo === '' ? '-' : 'Line' + vendor.TechLineNo}}
            </td>
            <td>{{item.DeptName}}</td>
            <td>{{item.TechName}}</td>
            <td>{{item.Efficiency}}</td>
            <td>{{item.UnitCount}}</td>
            <td *ngIf="j === 0" [attr.rowspan]="(j === 0 ? vendor.VendorTechDetailsList.length : 0)">
              <a title="Edit" href="javascript:void(0)" data-toggle="modal"
                (click)="GetTechDetails(vendor.VendorTechDetailsId)" data-target="#myModal" data-backdrop="static"
                data-keyboard="false"><i class="fa fa-edit"></i></a>

              <a title="Delete Machine" href="javascript:void(0)" class="ml-2" data-toggle="modal"
                (click)="DeleteTechDetailsPopup(vendor)" data-target="#deleteModal"><i class="fa fa-remove"></i></a>

            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
  <nav aria-label="..." class="" *ngIf="totalItems!==0">
    <ul class="pagination justify-content-end">
      <li class="page-item" *ngIf="pager.currentPage !== 1">
        <button class="page-link" (click)="GetVendorTech(1)">First</button>
      </li>
      <li class="page-item" *ngIf="pager.currentPage !== 1">
        <a class="page-link" (click)="GetVendorTech(pager.currentPage - 1)">Prev</a>
      </li>

      <li class="page-item" [class.active]="i === pager.currentPage" *ngFor="let i of pager.pages">
        <button class="page-link" (click)="GetVendorTech(i)" href="javascript:void(0)">{{i}}</button>
      </li>

      <li class="page-item" *ngIf="pager.currentPage !== pager.totalPages">
        <a class="page-link" (click)="GetVendorTech(pager.currentPage + 1)">Next</a>
      </li>
      <li class="page-item" *ngIf="pager.currentPage !== pager.totalPages">
        <a class="page-link" (click)="GetVendorTech(pager.totalPages)">Last</a>
      </li>
    </ul>
  </nav>
</div>

<!-- Model -->
<div class="modal fade" id="myModal">
  <!-- modal-dialog -->
  <div class="modal-dialog modal-lg" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
        <h6 class="modal-title">Technical</h6>
        <button type="button" class="close" (click)="dismiss()" data-dismiss="modal">&times;</button>
      </div>
      <!-- modal-body -->
      <div class="modal-body">
        <form [formGroup]="techDetailsForm" (ngSubmit)="SaveTechDetails()" novalidate>
          <input type="hidden" name="id" formControlName="id">
          <!-- <input type="button" formControlName="modalOpenButton" data-target="#alertModal" data-backdrop="static" data-keyboard="false"
            data-toggle="modal" style="display:none;">
            </button> -->

          <div class="form-group col-lg-12 col-md-12">
            <div class="row">
              <!-- <div class="col-lg-3 col-md-3">
                    <label class="text">Tech Line No. <span class="error-label">*</span></label>
                    <span>
                      <input type="text" formControlName="techLineNo"  class="form-control input-sm" maxlength="50" (blur)="LogValidationErrors()"
                      [attr.disabled]="true" [ngClass]="{ 'is-invalid': formErrors.techLineNo }">
                     </span>
                   </div>
                   <div class="col-lg-3 col-md-3">
                      <label class="text">Efficiency (Default)</label>
                      <span>
                        <input type="text" formControlName="efficiency" class="form-control input-sm" maxlength="8" (blur)="LogValidationErrors()"
                          [attr.disabled]="isEfficiency == 0 ? 'true' : null" [pattern]="efficiencyPattern" [ngClass]="{ 'is-invalid': formErrors.efficiency }" >   
                       </span>
                        <span [ngClass]="{ 'error-label': formErrors.efficiency }" *ngIf="formErrors.efficiency" > {{formErrors.efficiency}}</span>
                    </div> -->
              <div class="col-lg-3 col-md-3">
                <label class="text">Tech Line No. <span class="error-label">*</span></label>
                <span>
                  <input type="text" formControlName="techLineNo" class="form-control input-sm" maxlength="50"
                    (blur)="LogValidationErrors()" [ngClass]="{ 'is-invalid': formErrors.techLineNo }">
                </span>
              </div>
              <div class="col-lg-3 col-md-3">
                <label class="text">Efficiency (Default)</label>
                <span>
                  <input type="text" formControlName="efficiency" class="form-control input-sm" maxlength="8"
                    (blur)="LogValidationErrors()" [pattern]="efficiencyPattern"
                    [ngClass]="{ 'is-invalid': formErrors.efficiency }">
                </span>
                <span [ngClass]="{ 'error-label': formErrors.efficiency }" *ngIf="formErrors.efficiency">
                  {{formErrors.efficiency}}</span>
              </div>
              <div class="col-lg-6 col-md-6">
                <label class="text">Remarks</label>
                <span>
                  <input type="text" formControlName="remarks" class="form-control input-sm" />
                </span>
              </div>
            </div>
          </div>

          <div id="divMachine" class="form-group col-lg-12 col-md-12">
            <div class="row">
              <div class="col-lg-3 col-md-3">
                <label class="text">Machine Type <span class="error-label">*</span></label>
                <span>
                  <select formControlName="dept" class="form-control input-sm" (change)="GetVendorTechSpec($event)"
                    (blur)="LogValidationErrors()" [attr.disabled]="isDisable===true ? 'true' : null"
                    [ngClass]="{ 'is-invalid': formErrors.dept }">
                    <!-- <div *ngIf="staffDetailsForm.controls.dept.errors" class="invalid-feedback">
                            <p *ngIf="staffDetailsForm.controls.dept.errors.required">Department is required</p>
                          </div> -->
                    <option value="">Select</option>
                    <option *ngFor="let option of deptList" value={{option.DeptCode}}>
                      {{option.DeptName}}
                    </option>
                  </select>
                </span>
              </div>
              <div class="col-lg-4 col-md-4">
                <label class="text">Machine Name <span class="error-label">*</span></label>
                <span>
                  <select formControlName="techSpec" class="form-control input-sm" (change)="specChange($event)"
                    (blur)="LogValidationErrors()" [attr.disabled]="isDisable===true ? 'true' : null"
                    [ngClass]="{ 'is-invalid': formErrors.techSpec }">
                    <option value="" data-line="0" data-efficiency="0" data-maxnumber=''>Select</option>
                    <option *ngFor="let option of techSpecList" [attr.data-line]="option.isLine"
                      [attr.data-efficiency]="option.isEfficiency" [attr.data-maxnumber]="option.Max_Allowed"
                      value={{option.VendorConfigID}}>
                      {{option.TechSpec}}
                    </option>
                  </select>
                </span>
              </div>
              <div class="col-lg-2 col-md-2">
                <label class="text">Unit Count<span class="error-label">*</span></label>
                <select formControlName="unitCount" class="form-control input-sm" (blur)="LogValidationErrors()"
                  [ngClass]="{ 'is-invalid': formErrors.unitCount }">
                  <option value="">Select</option>
                  <option *ngFor="let option of unitCountList(200); let i = index;" value={{i+1}}>{{i+1}}</option>
                </select>
              </div>
              <div class="col-lg-2 col-md-2">
                <label class="text">Efficiency</label>
                <span>
                  <input type="text" class="form-control input-sm" /></span>
              </div>
              <div class="col-lg-1 col-md-1">
                <button type="button" class="btn btn-primary" (click)="AddMachine()"
                  style="font-size: 12px;margin-top: 1.7rem;">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group col-lg-12 col-md-12">
            <table class="table table-striped table-bordered table-hover table-small hide">
              <thead>
                <tr>
                  <th>Machine Type</th>
                  <th>Machine Name</th>
                  <th>Efficiency</th>
                  <th>Unit Count</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of machineItems;">
                  <td>{{m.MachineType}}</td>
                  <td>{{m.MachineName}}</td>
                  <td>{{m.Efficiency}}</td>
                  <td>{{m.UnitCount}}</td>
                  <td>
                    <a title="Edit Machine" href="javascript:void(0)"><i class="fa fa-edit"></i></a>
                    <a title="Delete Machine" href="javascript:void(0)" class="ml-2" (click)="DeleteMachine(m)">
                      <i class="fa fa-remove"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


          <!-- Modal footer -->
          <div class="modal-footer col-md-12  page-footer">
            <button type="submit" class="mr-3 btn btn-primary">Save</button>
            <button #modalCloseButton type="button" class="btn btn-secondary" (click)="dismiss()"
              data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Delete?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">This record no longer will be available in the system. Are you sure?</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="dismiss()">Cancel</button>
        <button class="btn btn-primary" (click)="DeleteTechDetails()">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Hidden button to open alert modal -->
<button #modalOpenButton type="button" data-target="#alertModal" data-backdrop="static" data-keyboard="false"
  data-toggle="modal" style="display:none;">
</button>

<!-- Modal to open alert modal -->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalBody}}</h5>
        <button class="btn btn-primary" type="button" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>