<form class="form-inline" #personalForm="ngForm">
  <div class="main-div">
      <!-- Cutting Machines Info -->
      <div class="detail-page">
       
        <div class="col clearfix">
            <div class="content-heading">
                <a href="javascript:void(0)" class="glyphicon-expand"><span>+</span></a>Cutting
            </div>
            <div class="mycontainer">
            <div class="col-md-12 form-group">
                <div class="col-md-3">
                  <label class="text">Others <span>(Eastman)</span></label>
                  <span><input type="text" name="OthersE" class="form-control input-sm" /></span>
                </div>

                <div class="col-md-3">
                  <label class="text">Others <span>(Straight Knift)</span></label>
                  <span><input type="text" name="OthersSE" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Band Knives</label>
                  <span><input type="text" name="BandKnives" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                    <label class="text">Circular Cutters</label>
                    <span><input type="text" name="CircularCutters" class="form-control input-sm" /></span>
                  </div>
            </div>

            <div class="col-md-12 form-group">
             
              <div class="col-md-3">
                <label class="text">Computerised Cutting Table</label>
                <span><input type="text" name="ComputerisedCuttingTable" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Conveyer Fusing M/C</label>
                <span><input type="text" name="ConveyerFusing" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                  <label class="text">Die Cutting Machine</label>
                  <span><input type="text" name="DieCutting" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">End Cutter</label>
                  <span><input type="text" name="EndCutter" class="form-control input-sm" /></span>
                </div>
            </div>

            <div class="col-md-12 form-group">
             
              <div class="col-md-3">
                <label class="text">Manual Fusing Machine</label>
                <span><input type="text" name="ManualFusing" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                  <label class="text">Others <span>(Dirihole)</span></label>
                  <span><input type="text" name="OthersD" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                    <label class="text">Others <span>(Manual Cutting)</span></label>
                    <span><input type="text" name="OthersMC" class="form-control input-sm" /></span>
                  </div>
                  <div class="col-md-3">
                      <label class="text">Vertical Cutters</label>
                      <span><input type="text" name="VerticalCutters" class="form-control input-sm" /></span>
                    </div>
            </div>

          </div>            
        </div>
        <hr>
        <!--Dying / Processing Machine-->
       
        <div class="col clearfix">
          <div class="content-heading">
          <a href="javascript:void(0)" class="glyphicon-expand"><span>+</span></a>Dying / Processing Machine
          </div>
          <div class="mycontainer">
            <div class="col-md-12 form-group">
                <div class="col-md-3">
                  <label class="text">03 Needle Overlock M/C</label>
                  <span><input type="text" name="OthersE" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">05 Needle Overlock M/C</label>
                  <span><input type="text" name="BandKnives" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">04 Threads Overlock M/C</label>
                  <span><input type="text" name="OthersSE" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                    <label class="text">05 Threads Overlock M/C</label>
                    <span><input type="text" name="OthersSE" class="form-control input-sm" /></span>
                  </div>
            </div>

            <div class="col-md-12 form-group">
            
              <div class="col-md-3">
                <label class="text">4 Threads 5 Threads Overlock</label>
                <span><input type="text" name="ComputerisedCuttingTable" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Button Attaching M/C</label>
                <span><input type="text" name="ConveyerFusing" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                  <label class="text">Button Attaching M/C</label>
                  <span><input type="text" name="ConveyerFusing" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Button Attachment Plus Button Hole</label>
                  <span>
                    <input type="text" name="EndCutter" class="form-control input-sm" />
                  </span>
                </div>
            </div>

            <div class="col-md-12 form-group">
            
              <div class="col-md-3">
                <label class="text">Button hole M/C</label>
                <span>
                  <input type="text" name="ManualFusing" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                  <label class="text">Double Needle M/C</label>
                  <span>
                    <input type="text" name="OthersD" class="form-control input-sm" />
                  </span>
                </div>
                <div class="col-md-3">
                  <label class="text">Fabric Cutting  Machine</label>
                  <span>
                    <input type="text" name="OthersMC" class="form-control input-sm" />
                  </span>
                </div>
                <div class="col-md-3">
                  <label class="text">Jet</label>
                  <span>
                    <input type="text" name="VerticalCutters" class="form-control input-sm" />
                  </span>
                </div>
            </div>

            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Jigger</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                <label class="text">Others (Straight Knift)</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                <label class="text">Band Knives</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                  <label class="text">Circular Cutters</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
            </div>

            <div class="col-md-12 form-group">
            
              <div class="col-md-3">
                <label class="text">Jigger</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                <label class="text">Others (Straight Knift)</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                  <label class="text">Band Knives</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
                <div class="col-md-3">
                  <label class="text">Circular Cutters</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
            </div>

            <div class="col-md-12 form-group">
             
              <div class="col-md-3">
                <label class="text">Jigger</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                  <label class="text">Kaaj Button M/C</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
                <div class="col-md-3">
                  <label class="text">Noval Dye Jigar</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
                <div class="col-md-3">
                  <label class="text">Others M/C</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
            </div>

            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Overlock M/C</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                <label class="text">S.N.L.S M/C</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                <label class="text">Santa Brand SN</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                  <label class="text">Single Needle M/C</label>
                  <span>
                    <input type="text" name="CuttingTotal" class="form-control input-sm" />
                  </span>
                </div>
            </div>

            <div class="col-md-12 form-group">
             
              <div class="col-md-3">
                <label class="text">SNLS</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
              <div class="col-md-3">
                <label class="text">Soft Plow</label>
                <span>
                  <input type="text" name="CuttingTotal" class="form-control input-sm" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <!--Fabric Checking Machine-->

        
        <div class="col clearfix">
            <div class="content-heading">
              <a href="javascript:void(0)" class="glyphicon-expand"><span>+</span></a>
              Fabric Checking Machine
            </div>
            <div class="mycontainer">
            <div class="col-md-12 form-group">
                <div class="col-md-3">
                  <label class="text">Fabric Checking Machine</label>
                  <span><input type="text" name="FabricCheckingMc" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Others</label>
                  <span><input type="text" name="Others" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Others <span>(Safety Stitch M/C)</span></label>
                  <span><input type="text" name="OthersSSM" class="form-control input-sm" /></span>
                </div>
            </div>
            </div>
        </div>
        <hr>

        <!--Finishing Machine-->
       
        <div class="col clearfix">
            <div class="content-heading">
                <a href="javascript:void(0)" class="glyphicon-expand"><span>+</span></a>
                Finishing Machine
              </div>
              <div class="mycontainer">
            <div class="col-md-12 form-group">
                <div class="col-md-3">
                  <label class="text">Diesel Fired Steam Boiler</label>
                  <span><input type="text" name="DieselFiredSteamBoiler" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Electric</label>
                  <span><input type="text" name="Electric" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Others <span>(Needle director machine/Stain removing M/C)</span></label>
                  <span><input type="text" name="OthersNDMS" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                    <label class="text">Others <span>(Power backup)</span></label>
                    <span><input type="text" name="OthersPB" class="form-control input-sm" /></span>
                  </div>
            </div>

            <div class="col-md-12 form-group">
            
              <div class="col-md-3">
                <label class="text">Others <span>(Steam bottle)</span></label>
                <span><input type="text" name="OthersSB" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others Sporting M/C</label>
                <span><input type="text" name="OthersSporting" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                  <label class="text">Others <span>(Power backup)</span></label>
                  <span>
                    <input type="text" name="OthersPowerBc" class="form-control input-sm" />
                  </span>
                </div>
                <div class="col-md-3">
                  <label class="text">Pressing Table</label>
                  <span>
                    <input type="text" name="PressingTable" class="form-control input-sm" />
                  </span>
                </div>
            </div>

            <div class="col-md-12 form-group">
             
              <div class="col-md-3">
                <label class="text">Tagging Mach.</label>
                <span>
                  <input type="text" name="Tagging" class="form-control input-sm" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <!--Sewing Machine-->
        
        <div class="col clearfix">
            <div class="content-heading">
                <a href="javascript:void(0)" class="glyphicon-expand"><span>+</span></a>Sewing
            </div>
              <div class="mycontainer">
            <div class="col-md-12 form-group">
                <div class="col-md-3">
                  <label class="text">Bartack M/C</label>
                  <span><input type="text" name="Bartack" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Belt Attach 8 Needle</label>
                  <span><input type="text" name="BeltAttach" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Blind ST M/C</label>
                  <span><input type="text" name="BlindST" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                    <label class="text">Button Fixing M/C</label>
                    <span><input type="text" name="ButtonFixing" class="form-control input-sm" /></span>
                  </div>
            </div>

            <div class="col-md-12 form-group">
             
              <div class="col-md-3">
                <label class="text">Button Hole Eyelet</label>
                <span><input type="text" name="ButtonHoleEyelet" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Chain ST M/C</label>
                <span><input type="text" name="ChainST" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                  <label class="text">Chain ST M/C <span>(DNCS)</span></label>
                  <span><input type="text" name="ChainSTDNCS" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Double Needle Chain ST</label>
                  <span><input type="text" name="DoubleNeedleChain" class="form-control input-sm" /></span>
                </div>
            </div>

            <div class="col-md-12 form-group">
             
              <div class="col-md-3">
                <label class="text">Double Needle Lock ST</label>
                <span><input type="text" name="DoubleNeedleLockST" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                  <label class="text">Embriodery M/C</label>
                  <span><input type="text" name="Embriodery" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Feed Of The Arm</label>
                  <span><input type="text" name="FeedOfTheArm" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Flat Lock Machine</label>
                  <span><input type="text" name="FlatLock" class="form-control input-sm" /></span>
                </div>
            </div>

            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Kansai</label>
                <span><input type="text" name="Kansai" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Lock Stitch M/C</label>
                <span><input type="text" name="LockStitch" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Loop Making</label>
                <span><input type="text" name="LoopMaking" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                  <label class="text">Others Pleating M/C</label>
                  <span><input type="text" name="OthersPleating" class="form-control input-sm" /></span>
                </div>
            </div>
                
            <div class="col-md-12 form-group">
            
              <div class="col-md-3">
                <label class="text">Others <span>(AARI Embroidery M/C)</span></label>
                <span><input type="text" name="OthersAARIEmbroidery" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others <span>(Bartek)</span></label>
                <span><input type="text" name="OthersBartek" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                  <label class="text">Others  <span>(Layyer Topper Ironing)</span></label>
                  <span><input type="text" name="OthersLayyerTopper" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Pocket Facing</label>
                  <span><input type="text" name="PocketFacing" class="form-control input-sm" /></span>
                </div>
            </div>

            <div class="col-md-12 form-group">
             
              <div class="col-md-3">
                <label class="text">Rivet And Button Fixing Machines</label>
                <span><input type="text" name="RivetAndButtonFixing" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                  <label class="text">Seddle Stitch</label>
                  <span><input type="text" name="SeddleStitch" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Snap Faster Press</label>
                  <span><input type="text" name="SnapFasterPress" class="form-control input-sm" /></span>
                </div>
                <div class="col-md-3">
                  <label class="text">Waist Band M/C</label>
                  <span><input type="text" name="WaistBand" class="form-control input-sm" /></span>
                </div>
            </div>
                
           
            <div class="col-md-12 form-group">
                <div class="col-md-3">
                  <label class="text">Zig Zag M/C</label>
                  <span><input type="text" name="ZigZag" class="form-control input-sm" /></span>
                </div>
            </div>
          </div>
        </div>
        <hr>

        <!--Special Quality Machine-->
        
        <div class="col clearfix">
            <div class="content-heading">
                <a href="javascript:void(0)" class="glyphicon-expand"><span>+</span></a>Special Quality Machine
            </div>
              <div class="mycontainer">
          <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Button Pull Tester</label>
                <span><input type="text" name="ButtonPullTester" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Colour Matching Cabinated</label>
                <span><input type="text" name="ColourMatchingCabinated" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Crocometer</label>
                <span><input type="text" name="Crocometer" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                  <label class="text">GSM Machine</label>
                  <span><input type="text" name="GsmMachine" class="form-control input-sm" /></span>
                </div>
          </div>

          <div class="col-md-12 form-group">
           
            <div class="col-md-3">
              <label class="text">GSM Round Cutter</label>
              <span><input type="text" name="GsmRoundCutter" class="form-control input-sm" /></span>
            </div>
            <div class="col-md-3">
              <label class="text">Shrinkage Scale</label>
              <span><input type="text" name="ShrinkageScale" class="form-control input-sm" /></span>
            </div>
          </div>
        </div>
        </div>
        <hr> 
  
        <!--Washing/Dyeing Machine-->
       
        <div class="col clearfix">
            <div class="content-heading">
                <a href="javascript:void(0)" class="glyphicon-expand"><span>+</span></a>Washing/Dyeing Machine
            </div>
              <div class="mycontainer">
          <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label class="text">Drying Tumbler</label>
                <span><input type="text" name="DryingTumbler" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Indigo Dye Bathtubs</label>
                <span><input type="text" name="IndigoDyeBathtubs" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Others<span>(Dye unit)</span></label>
                <span><input type="text" name="OthersDyeUnit" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                  <label class="text">Others <span>(Screping Dummy M/C)</span></label>
                  <span><input type="text" name="OthersScrepingDummy" class="form-control input-sm" /></span>
                </div>
          </div>

          <div class="col-md-12 form-group">
           
            <div class="col-md-3">
              <label class="text">Others <span>(Thread Sucked M/C)</span></label>
              <span><input type="text" name="OthersThreadSucked" class="form-control input-sm" /></span>
            </div>
            <div class="col-md-3">
              <label class="text">PRC Dry Clean</label>
              <span><input type="text" name="PrcDryClean" class="form-control input-sm" /></span>
            </div>
            <div class="col-md-3">
                <label class="text">Spray Dummy M/C</label>
                <span><input type="text" name="SprayDummy" class="form-control input-sm" /></span>
              </div>
              <div class="col-md-3">
                <label class="text">Washing Machine</label>
                <span><input type="text" name="WashingMachine" class="form-control input-sm" /></span>
              </div>
          </div>

          </div>
        </div>
        <hr> 

        <!--Washing Machine-->
     
        <div class="col clearfix">
            <div class="content-heading">
                <a href="javascript:void(0)" class="glyphicon-expand"><span>+</span></a>Washing Machine
            </div>
              <div class="mycontainer">
          <div class="col-md-12 form-group">
            <div class="col-md-3">
              <label class="text">Hydro Extractor</label>
              <span><input type="text" name="HydroExtractor" class="form-control input-sm" /></span>
            </div>
            <div class="col-md-3">
              <label class="text">Sample Washing Machine</label>
              <span><input type="text" name="SampleWashingMachine" class="form-control input-sm" /></span>
            </div>
          </div>
        </div>
        </div>
      </div>
      <hr>
      <!-- End of Detail Page -->

      <div class="col-md-12 page-footer">
          <button routerLink="/producer" type="submit" class="mr-3 btn btn-primary">Save</button>
          <button routerLink="/producer" type="button" class="btn">Cancel</button>
      </div>
  </div>
</form>