.table>tbody>tr>td {
    font-family: verdana;
    color: #000000;
    font-size: 13px;
    /*font-weight: 700;*/
}

input[type="text"], select {
    margin-bottom: 0px !important;
}

.modal label {
    font-size: 13px;
}

.table-small>thead>tr>th, .table-small>thead>tr>td, .table-small>tbody>tr>th, .table-small>tbody>tr>td {
    padding: 3px;
    font-size: 12px;
}

.table-small.hide {
    display: none;
}

.toRight {
    margin-left: 78%;
}

.disabledbtn {
    background-color: lightsalmon;
    border-color: lightsalmon;
}

.scrollableTable {
    overflow-y: auto;
    max-height: 250px;
}

.deleted-line td {
    background-color: beige;
}