<form *ngIf="personalDetailsForm" class="form-inline" [formGroup]="personalDetailsForm"
    (ngSubmit)="SavePersonalDetails()" novalidate>
    <div class="main-div">
        <div class="content-heading expand-all">
            <a href="javascript:void(0)" (click)="ToggleAllContainers()" class="glyphicon-expand">
                <span>{{HasAllCollapsed ? '+' : '-'}}</span>
            </a>{{HasAllCollapsed ? 'Expand' : 'Collapse'}} All
        </div>
        <!-- Vendor Details -->
        <div class="detail-page">

            <!-- Personal Information -->

            <div class="col clearfix" formGroupName="PersonalDetails">
                <div class="content-heading">
                    <a href="javascript:void(0)" (click)="ToggleContainer(personalDetailsForm.get('PersonalDetails'))"
                        class="glyphicon-expand">
                        <span>{{personalDetailsForm.get('PersonalDetails').controls.IsExpanded.value ? '-' : '+'}}</span>
                    </a>Personal Details
                </div>
                <div class="slider" [ngClass]="{
                      closed: !personalDetailsForm.get('PersonalDetails').controls.IsExpanded.value
                  }">
                    <div class="col-md-8">
                        <div class="col-md-12 form-group">
                            <div class="col-md-6">
                                <label class="text">Short Name</label>
                                <span>
                                    <input type="text" maxlength="6" formControlName="VendorCode"
                                        class="form-control input-sm" />
                                </span>
                            </div>
                            <div class="col-md-6">
                                <label class="text">Producer Name
                                    <i class="mandatory">*</i>
                                    </label>
                                <span>
                                    <input type="text" maxlength="49" formControlName="VendorName"
                                        class="form-control input-sm"
                                        [ngClass]="{'is-invalid': formErrors.VendorName}" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-6">
                                <label class="text">PAN No.
                                    <span class="help-block mandatory" *ngIf="formErrors.PANNo">
                                        {{formErrors.PANNo}}
                                    </span>
                                </label>&nbsp;&nbsp;
                                <span>
                                    <input type="text" formControlName="PANNo" style="text-transform: uppercase" (blur)="LogValidationErrors()" 
                                        [attr.disabled]="personalDetailsForm.get('PersonalDetails.PANNo').disabled ? '' : null"
                                        [ngClass]="{'is-invalid': formErrors.PANNo}" class="form-control input-sm" />
                                </span>
                                </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-6">
                                <div for="Ref_VendorCode">Reference Producer Name</div>
                                <select type="text" class="form-control col-md-12 input-sm"
                                    [attr.disabled]="personalDetailsForm.get('PersonalDetails.Ref_VendorCode').disabled ? '' : null"
                                    formControlName="Ref_VendorCode">
                                    <option value="-1" selected="selected">Select</option>
                                    <option *ngFor="let item of ReferenceVendorList" value="{{item.VendorCode}}">{{item.VendorName
                                        + ' (' + item.VendorCode + ')'}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <div>Master Producer Name
                                    <small>(Parent/sister company)</small>
                                </div>
                                <select type="text" class="form-control col-md-12 input-sm"
                                    formControlName="MasterVendorId">
                                    <option value="-1">Select</option>
                                    <option *ngFor="let item of MasterVendorList" value="{{item.MasterVendorId}}">
                                        {{item.MasterVendorName }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-6">
                                <span>
                                    <label class="text">Insured
                                        <input type="checkbox" (change)="IfInsured($event.target.checked)"
                                            formControlName="IsInsured" class="ml-2" />
                                    </label>
                                </span>
                            </div>
                            <div class="col-md-6">
                                <label class="text">Name of Insurance Company</label>
                                <span>
                                    <input type="text" (blur)="LogValidationErrors()"
                                        [ngClass]="{'is-invalid': formErrors.NameofInsuranceCompany && personalDetailsForm.get('PersonalDetails.IsInsured').value}"
                                        formControlName="NameofInsuranceCompany" class="form-control input-sm" />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="padding-left:0px;">

                        <div class="col-md-12 form-group">
                            <label class="text">Producer Type</label>
                            &nbsp;
                            <div class="col-md-2">
                                <label class="radio-inline">
                                    <input type="checkbox" formControlName="IsDirectVendor"
                                        [attr.disabled]="personalDetailsForm.get('PersonalDetails.IsDirectVendor').disabled ? '' : null"
                                        (change)="SetPHListValidation()" />
                                    <span style="margin-left:5px;" class="text">DP</span>
                                </label>
                            </div>
                            &nbsp;
                            <div class="col-md-1">
                                <label class="radio-inline">
                                    <input type="checkbox" formControlName="IsJWVendor"
                                        [attr.disabled]="personalDetailsForm.get('PersonalDetails.IsJWVendor').disabled ? '' : null"
                                        (change)="SetPHListValidation()" />
                                    <span style="margin-left:5px;" class="text">JW</span>
                                </label>
                            </div>
                        </div>

                        <div *ngIf="personalDetailsForm.get('PersonalDetails.IsJWVendor').value">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="col-sm-6 mt-1 mb-1 PHandStore form-group">
                                        <label class="text">PH/FO</label>
                                        <select formControlName="PHList"
                                            (focus)="UnselectOptions(personalDetailsForm.get('PersonalDetails.StoreList'))"
                                            class="form-control input-sm" size="4" multiple="multiple">
                                            <option *ngFor="let PH of PHList" [value]="PH.OrgUnitCode">
                                                {{ PH.OrgUnitName }}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 PHandStore form-group">
                                        <label class="text">Store</label>
                                        <select formControlName="StoreList"
                                            (focus)="UnselectOptions(personalDetailsForm.get('PersonalDetails.PHList'))"
                                            class="form-control input-sm" size="4" multiple="multiple">
                                            <option *ngFor="let Store of StoreList" [value]="Store.OrgUnitCode">
                                                {{ Store.OrgUnitName }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2" style="padding-left:25px;">

                                    <input type="button" style="margin-top: 60px;" value=">"
                                        (click)="MoveToSelectedPHList($event)">
                                    <br />
                                    <input type="button" style="margin-top: 10px;" value="<"
                                        (click)="MoveToPHList($event)">

                                </div>
                                <div class="col-sm-5" style="padding-left:8px;padding-right: 0px">
                                    <div *ngIf="SavedPHStoreList.length > 0"
                                        class="mt-1 mb-1 col-sm-6 PHandStore form-group">
                                        <label class="text">Saved PH/Store</label>
                                        <select class="form-control input-sm" size="4" multiple="multiple">
                                            <option *ngFor="let PHStore of SavedPHStoreList"
                                                [value]="PHStore.OrgUnitCode">{{ PHStore.OrgUnitName }}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 PHandStore form-group">
                                        <label class="text">Selected PH/Store</label>
                                        <select [ngClass]="{'is-invalid': !HasPHSelected && submitted}"
                                            formControlName="SelectedPHStoreList" onfocusout="event.target.value = ''"
                                            class="form-control input-sm" [size]="(SavedPHStoreList.length > 0 ? 4: 11)"
                                            multiple="multiple">
                                            <option *ngFor="let PHStore of SelectedPHStoreList"
                                                [value]="PHStore.OrgUnitCode">{{ PHStore.OrgUnitName }}</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Vendor Registered Office Address -->

            <div class="col" formGroupName="RegisteredOfficeAddress">
                <div class="content-heading">
                    <a href="javascript:void(0)"
                        (click)="ToggleContainer(personalDetailsForm.get('RegisteredOfficeAddress'))"
                        class="glyphicon-expand">
                        <span>{{personalDetailsForm.get('RegisteredOfficeAddress').controls.IsExpanded.value ? '-' : '+'}}</span>
                    </a>Registration Detail
                </div>
                <div class="slider" [ngClass]="{
                      closed: !personalDetailsForm.get('RegisteredOfficeAddress').controls.IsExpanded.value
                  }">

                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <label class="text">GST Registered</label>
                            <div class="col-md-2">
                                <label class="radio-inline">
                                    <input [value]="true" type="radio" formControlName="IsGSTRegistered"
                                        [attr.disabled]="personalDetailsForm.get('RegisteredOfficeAddress.IsGSTRegistered').disabled ? '' : null"
                                        (change)="SetValidationForGSTControls($event)" />
                                    <span style="margin-left:5px;">Yes</span>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label class="radio-inline">
                                    <input [value]="false" type="radio" formControlName="IsGSTRegistered"
                                        [attr.disabled]="personalDetailsForm.get('RegisteredOfficeAddress.IsGSTRegistered').disabled ? '' : null"
                                        (change)="SetValidationForGSTControls($event)" />
                                    <span style="margin-left:5px;">No</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="text">Reverse Change Mechanism Applied</label>
                            <div class="col-md-2">
                                <label class="radio-inline">
                                    <input [value]="true" type="radio" formControlName="IsRCM" />
                                    <span style="margin-left:5px;">Yes</span>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label class="radio-inline">
                                    <input [value]="false" type="radio" formControlName="IsRCM" />
                                    <span style="margin-left:5px;">No</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label class="text">GST No
                                <i *ngIf="personalDetailsForm.get('RegisteredOfficeAddress.IsGSTRegistered').value"
                                    class="mandatory">*</i>
                                <span class="help-block mandatory" *ngIf="formErrors.GSTIN && personalDetailsForm.get('RegisteredOfficeAddress.IsGSTRegistered').value">
                                    {{formErrors.GSTIN}}
                                </span>
                            </label>
                            <span>
                                <input formControlName="GSTIN" type="text" style="text-transform: uppercase"
                                    [attr.disabled]="personalDetailsForm.get('RegisteredOfficeAddress.GSTIN').disabled ? '' : null"
                                    [ngClass]="{'is-invalid': formErrors.GSTIN && personalDetailsForm.get('RegisteredOfficeAddress.IsGSTRegistered').value}" 
                                    class="form-control input-sm" />
                            </span>
                        </div>

                        <div class="col-md-4" style="display:none">
                            <div class="checkbox">
                                <label class="text">
                                    <input value="true" type="checkbox" formControlName="IsProvisional">
                                    &nbsp;
                                    Provisional
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4" style="margin-top: -15px;">
                            <label class="text">GST Date
                                <i *ngIf="personalDetailsForm.get('RegisteredOfficeAddress.IsGSTRegistered').value"
                                    class="mandatory">*</i>
                            </label>
                            <span>
                                <input (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.GSTDate
                                    && personalDetailsForm.get('RegisteredOfficeAddress.IsGSTRegistered').value}"
                                    [attr.disabled]="personalDetailsForm.get('RegisteredOfficeAddress.GSTDate').disabled ? '' : null"
                                    formControlName="GSTDate" type="date" [min]="minDate" [max]="maxDate" class="form-control input-sm"/>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label class="text">Address1
                                <i class="mandatory">*</i>
                            </label>
                            <span>
                                <input (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.Address1}"
                                    formControlName="Address1" type="text" class="form-control input-sm" />
                            </span>
                        </div>

                        <div class="col-md-4">
                            <label class="text">Address2</label>
                            <span>
                                <input formControlName="Address2" type="text" class="form-control input-sm" />
                            </span>
                        </div>

                        <div class="col-md-4">
                            <label class="text">Address3</label>
                            <span>
                                <input formControlName="Address3" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label class="text">Country
                                <i class="mandatory">*</i>
                            </label>
                            <span>
                                <select (blur)="LogValidationErrors()"
                                    [ngClass]="{'is-invalid': formErrors.CountryCode}" formControlName="CountryCode"
                                    class="form-control input-sm">
                                    <option [ngValue]="null">Select</option>
                                    <option *ngFor="let country of CountryList" value="{{country.MDDCode}}">
                                        {{country.MDDName}}</option>
                                </select>
                            </span>
                        </div>

                        <div class="col-md-4">
                            <label class="text">State
                                <i class="mandatory">*</i>
                            </label>
                            <span>
                                <select (blur)="LogValidationErrors()" (change)="SetStateCodeLabel()"
                                    [ngClass]="{'is-invalid': formErrors.StateCode}" formControlName="StateCode"
                                    class="form-control input-sm">
                                    <option [ngValue]="null">Select</option>
                                    <option *ngFor="let state of StateList" value="{{state.MDDCode}}">
                                        {{state.MDDName}}
                                    </option>
                                </select>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="stateCodeLabel">State Code
                                <small *ngIf="StateCodeLabel" class="ml-2">{{StateCodeLabel}}</small>
                            </span>
                        </div>

                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label class="text">Pincode
                                <i class="mandatory">*</i>
                            </label>
                            <span class="help-block mandatory" *ngIf="formErrors.PIN">
                                {{formErrors.PIN}}
                            </span>
                            <span>
                                <input (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.PIN}"
                                    formControlName="PIN" type="text" class="form-control input-sm" />
                            </span>
                        </div>

                        <div class="col-md-4">
                            <label class="text">City<i class="mandatory">*</i></label>
                            <span>
                                <input (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.CityCode}"
                                    formControlName="CityCode" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                        <div style="display: none;" class="col-md-4">
                            <label class="text">Same Address for Factory</label>
                            <span>
                                <input class="ml-2" formControlName="IsSameForAll" type="checkbox" />
                            </span>
                        </div>
                    </div>
                    <hr>

                    <!-- Contact -->
                    <div class="form-group col-md-12">
                        <fieldset>
                            <legend>Primary Info</legend>
                            <div class="row">
                                <div class="col-md-22">
                                    <label class="text">Contact Name<i class="mandatory">*</i></label>
                                    <span>
                                        <input (blur)="LogValidationErrors()"
                                            [ngClass]="{'is-invalid': formErrors.PrimaryContactName}"
                                            formControlName="PrimaryContactName" type="text"
                                            class="form-control input-sm" />
                                    </span>
                                </div>
                                <div class="col-md-22">
                                    <label class="text">Phone No.<i class="mandatory">*</i></label>
                                    <span>
                                        <input (blur)="LogValidationErrors()"
                                            [ngClass]="{'is-invalid': formErrors.PrimaryContactPhone}"
                                            formControlName="PrimaryContactPhone" type="text"
                                            class="form-control input-sm" />
                                    </span>
                                </div>
                                <div class="col-md-22">
                                    <label class="text">Fax</label>
                                    <span>
                                        <input (blur)="LogValidationErrors()"
                                            [ngClass]="{'is-invalid': formErrors.PrimaryContactFax}"
                                            formControlName="PrimaryContactFax" type="text"
                                            class="form-control input-sm" />
                                    </span>
                                </div>
                                <div class="col-md-22">
                                    <label class="text">Email</label>
                                    <span>
                                        <input (blur)="LogValidationErrors()"
                                            [ngClass]="{'is-invalid': formErrors.PrimaryContactEmail}"
                                            formControlName="PrimaryContactEmail" type="text"
                                            class="form-control input-sm" />
                                    </span>
                                </div>
                                <div class="col-md-22">
                                    <label class="text">Website</label>
                                    <span>
                                        <input (blur)="LogValidationErrors()"
                                            [ngClass]="{'is-invalid': formErrors.PrimaryContactWebsite}"
                                            formControlName="PrimaryContactWebsite" type="text"
                                            class="form-control input-sm" />
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <hr style="border:none;">
                    <div class="form-group col-md-12">
                        <fieldset>
                            <legend>Secondary Info</legend>
                            <div class="row">
                                <div class="col-md-22">
                                    <label class="text">Contact Name</label>
                                    <span>
                                        <input (blur)="LogValidationErrors()"
                                            [ngClass]="{'is-invalid': formErrors.SecondaryContactName}"
                                            formControlName="SecondaryContactName" type="text"
                                            class="form-control input-sm" />
                                    </span>
                                </div>
                                <div class="col-md-22">
                                    <label class="text">Phone No.</label>
                                    <span>
                                        <input (blur)="LogValidationErrors()"
                                            [ngClass]="{'is-invalid': formErrors.SecondaryContactPhone}"
                                            formControlName="SecondaryContactPhone" type="text"
                                            class="form-control input-sm" />
                                    </span>
                                </div>
                                <div class="col-md-22">
                                    <label class="text">Fax</label>
                                    <span>
                                        <input (blur)="LogValidationErrors()"
                                            [ngClass]="{'is-invalid': formErrors.SecondaryContactFax}"
                                            formControlName="SecondaryContactFax" type="text"
                                            class="form-control input-sm" />
                                    </span>
                                </div>
                                <div class="col-md-22">
                                    <label class="text">Email</label>
                                    <span>
                                        <input (blur)="LogValidationErrors()"
                                            [ngClass]="{'is-invalid': formErrors.SecondaryContactEmail}"
                                            formControlName="SecondaryContactEmail" type="text"
                                            class="form-control input-sm" />
                                    </span>
                                </div>
                                <div class="col-md-22">
                                    <label class="text">Website</label>
                                    <span>
                                        <input (blur)="LogValidationErrors()"
                                            [ngClass]="{'is-invalid': formErrors.SecondaryContactWebsite}"
                                            formControlName="SecondaryContactWebsite" type="text"
                                            class="form-control input-sm" />
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <hr style="border:none;">
                    <!-- <div class="form-group col-md-12">
                        <div class="col-md-6">
                            <label class="text">Primary Contact Name
                                <i class="mandatory">*</i>
                            </label>
                            <span>
                                <input (blur)="LogValidationErrors()"
                                    [ngClass]="{'is-invalid': formErrors.PrimaryContactName}"
                                    formControlName="PrimaryContactName" type="text" class="form-control input-sm" />
                            </span>
                        </div>

                        <div class="col-md-6">
                            <label class="text">Secondary Contact Name</label>
                            <span>
                                <input formControlName="SecondaryContactName" type="text"
                                    class="form-control input-sm" />
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-6">
                            <label class="text">Primary Phone No.
                                <i class="mandatory">*</i>
                            </label>
                            <span>
                                <input (blur)="LogValidationErrors()"
                                    [ngClass]="{'is-invalid': formErrors.PrimaryContactPhone}"
                                    formControlName="PrimaryContactPhone" type="text" class="form-control input-sm" />
                            </span>
                        </div>

                        <div class="col-md-6">
                            <label class="text">Secondary Phone No.</label>
                            <span>
                                <input formControlName="SecondaryContactPhone" type="text"
                                    class="form-control input-sm" />
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-6">
                            <label class="text">Primary Fax</label>
                            <span>
                                <input formControlName="PrimaryContactFax" type="text" class="form-control input-sm" />
                            </span>
                        </div>

                        <div class="col-md-6">
                            <label class="text">Secondary Fax</label>
                            <span>
                                <input formControlName="SecondaryContactFax" type="text"
                                    class="form-control input-sm" />
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-6">
                            <label class="text">Primary E-Mail</label>
                            <span>
                                <input formControlName="PrimaryContactEmail" type="text"
                                    class="form-control input-sm" />
                            </span>
                        </div>

                        <div class="col-md-6">
                            <label class="text">Secondary E-Mail</label>
                            <span>
                                <input formControlName="SecondaryContactEmail" type="text"
                                    class="form-control input-sm" />
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-6">
                            <label class="text">Primary Website</label>
                            <span>
                                <input formControlName="PrimaryContactWebsite" type="text"
                                    class="form-control input-sm" />
                            </span>
                        </div>

                        <div class="col-md-6">
                            <label class="text">Secondary Website</label>
                            <span>
                                <input formControlName="SecondaryContactWebsite" type="text"
                                    class="form-control input-sm" />
                            </span>
                        </div>
                    </div> -->

                </div>
            </div>
            <hr>

            <!-- Vendor Factory Address -->

            <div class="col" formGroupName="Address">
                <div class="content-heading">
                    <a href="javascript:void(0)" (click)="ToggleContainer(personalDetailsForm.get('Address'))"
                        class="glyphicon-expand">
                        <span>{{personalDetailsForm.get('Address').controls.IsExpanded.value ? '-' : '+'}}</span>
                    </a>Factory/Sister Concern Address
                </div>
                <div class="slider" [ngClass]="{closed: !personalDetailsForm.get('Address').controls.IsExpanded.value}">

                    <div *ngIf="(vendorAddresses.length <= 2)"
                     class="col-md-12 form-group">
                        <span>
                            <button style="margin-left: 15px;" type="button" class="btn btn-primary float-right"
                                (click)="OpenAddressModal(CreateNewAddress())">
                                <i class="fa fa-plus"></i>
                                <span title="Add new" class="py-4">Add New Address</span>
                            </button>
                        </span>
                    </div>

                    <div class="col-lg-12 col-sm-12 col-md-12" style="margin-top:10px;">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Address1</th>
                                    <th scope="col">Address2</th>
                                    <th scope="col">Address3</th>
                                    <th scope="col">City/District(PIN)</th>
                                    <th scope="col">State, Country</th>
                                    <th scope="col">Address Type</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let address of vendorAddresses;index as i;">
                                    <div class="panel-group"></div>
                                    <tr>
                                        <td>{{address.Address1}}</td>
                                        <td>{{address.Address2}}</td>
                                        <td>{{address.Address3}}</td>
                                        <td>{{address.CityCode + '(' + address.PIN + ')'}}</td>
                                        <td>{{address.StateName + ', ' + address.CountryName}}</td>
                                        <td>{{(address.AddressTypeCode === 'F' ? 'Factory' : 'Sister Concern')}}
                                        </td>
                                        <td>
                                            <a title="Edit" href="javascript:void(0)"
                                                (click)="OpenAddressModal(address)">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="ml-2" title="View Contacts" href="javascript:void(0)"
                                                [attr.data-target]="'#Collapse' + (i + 1)" data-toggle="collapse">
                                                <i class="fa fa-address-book"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="collapse" id="{{'Collapse' + (i + 1)}}">
                                        <td colspan="9">
                                            <table class="table table-warning table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Type</th>
                                                        <th>Name</th>
                                                        <th>Phone</th>
                                                        <th>Fax</th>
                                                        <th>Email</th>
                                                        <th>Website</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Primary</td>
                                                        <td>{{address.PrimaryContactName}}</td>
                                                        <td>{{address.PrimaryContactPhone}}</td>
                                                        <td>{{address.PrimaryContactFax}}</td>
                                                        <td>{{address.PrimaryContactEmail}}</td>
                                                        <td>{{address.PrimaryContactWebsite}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Secondary</td>
                                                        <td>{{address.SecondaryContactName}}</td>
                                                        <td>{{address.SecondaryContactPhone}}</td>
                                                        <td>{{address.SecondaryContactFax}}</td>
                                                        <td>{{address.SecondaryContactEmail}}</td>
                                                        <td>{{address.SecondaryContactWebsite}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                </ng-container>
                                <tr *ngIf="vendorAddresses.length === 0">
                                    <td colspan="7">
                                        <h6>No Record Found</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <hr>

            <!-- Other Registration Detail -->

            <div class="col" formGroupName="OtherRegDetails">
                <div class="content-heading">
                    <a href="javascript:void(0)" (click)="ToggleContainer(personalDetailsForm.get('OtherRegDetails'))"
                        class="glyphicon-expand">
                        <span>{{personalDetailsForm.get('OtherRegDetails').controls.IsExpanded.value ? '-' : '+'}}</span>
                    </a>Other Registration Detail
                </div>
                <div class="slider"
                    [ngClass]="{closed: !personalDetailsForm.get('OtherRegDetails').controls.IsExpanded.value}">
                    <div class="col-md-12 form-group">
                        <div class="col-md-2">
                            <label class="text">Associated With Us Since</label>
                            <span>
                                <select formControlName="AssociatedSinceYear" class="form-control input-sm">
                                    <option [ngValue]="0">Select</option>
                                    <option *ngFor="let Year of YearList" value="{{Year}}">{{Year}}</option>
                                </select>
                            </span>
                        </div>
                        <div class="col-md-2">
                            <label class="text">Nature Of Enterprise</label>
                            <span>
                                <select *ngIf="VendorTypeList" formControlName="VendorType_MDDCode"
                                    class="form-control input-sm">
                                    <option value="">Select</option>
                                    <option *ngFor="let VendorType of VendorTypeList" value="{{VendorType.MDDCode}}">
                                        {{VendorType.MDDName}}</option>
                                </select>
                            </span>
                        </div>
                        <!-- </div>
                    <div class="col-md-12 form-group"> -->
                        <div class="col-md-4">
                            <label class="text">Name Of Partner/Proprietor/etc 1</label>
                            <span>
                                <input formControlName="PersonTopRanker1" name="PersonTopRanker1" type="text"
                                    class="form-control input-sm" />
                            </span>
                        </div>
                        <div class="col-md-4">
                            <label class="text">Name Of Partner/Proprietor/etc 2</label>
                            <span>
                                <input formControlName="PersonTopRanker2" name="PersonTopRanker2" type="text"
                                    class="form-control input-sm" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Top 5 Customers Name -->

            <div class="col" formGroupName="CustomerDetails">
                <div class="content-heading">
                    <a href="javascript:void(0)" (click)="ToggleContainer(personalDetailsForm.get('CustomerDetails'))"
                        class="glyphicon-expand">
                        <span>{{personalDetailsForm.get('CustomerDetails').controls.IsExpanded.value ? '-' : '+'}}</span>
                    </a>Top 5 Customers
                </div>
                <div class="slider"
                    [ngClass]="{closed: !personalDetailsForm.get('CustomerDetails').controls.IsExpanded.value}">
                    <div class="col-md-12 form-group">
                        <div class="col-md-22">
                            <label class="text">Customer1</label>
                            <span>
                                <input formControlName="OtherCustomer1" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                        <div class="col-md-22">
                            <label class="text">Customer2</label>
                            <span>
                                <input formControlName="OtherCustomer2" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                        <div class="col-md-22">
                            <label class="text">Customer3</label>
                            <span>
                                <input formControlName="OtherCustomer3" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                        <!-- </div>
                    <div class="col-md-12 form-group"> -->
                        <div class="col-md-22">
                            <label class="text">Customer4</label>
                            <span>
                                <input formControlName="OtherCustomer4" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                        <div class="col-md-22">
                            <label class="text">Customer5</label>
                            <span>
                                <input formControlName="OtherCustomer5" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Top expertise and weekness -->

            <div class="col" formGroupName="ExpertiseDetails">
                <div class="content-heading">
                    <a href="javascript:void(0)" (click)="ToggleContainer(personalDetailsForm.get('ExpertiseDetails'))"
                        class="glyphicon-expand">
                        <span>{{personalDetailsForm.get('ExpertiseDetails').controls.IsExpanded.value ? '-' : '+'}}</span>
                    </a>Vendor's Expertise & Weaknesses
                </div>
                <div class="slider"
                    [ngClass]="{closed: !personalDetailsForm.get('ExpertiseDetails').controls.IsExpanded.value}">
                    <div class="col-md-12 form-group" style="margin-bottom: 15px;">
                        <div class="col-md-12"><label style="font-weight: 600;" class="text">Expertise</label></div>
                        <div class="col-md-22" *ngFor="let expertise of ExpertiseList">
                            <span class="checkbox-inline">
                                <label>
                                    <input class="mr-2" type="checkbox" [attr.checked]="expertise.Checked"
                                        (change)="onChange(expertise.MDDCode, $event.target.checked)"
                                        value="{{expertise.MDDCode}}" />{{expertise.MDDName}}
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label style="font-weight: 600;" class="text mr-2">Weaknesses (If any)</label>
                        <input class="input-sm col-md-6" type="text" formControlName="VendorWeaknesses">
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- End of Detail Page -->

        <div class="col-md-12 page-footer">
            <button type="submit" class="mr-3 btn btn-primary">Save</button>
            <button [routerLink]="['/vendor']" type="button" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
</form>

<button #addModalOpenButton type="button" data-target="#myModal" data-backdrop="static" data-keyboard="false"
    data-toggle="modal" style="display:none;">
</button>
<app-address-form (IsAddressSaved)="OnAddressSaved($event)" [vendor]="vendor" [Address]="Address"></app-address-form>

<button #alertModalButton type="button" data-target="#AlertModal" data-backdrop="static" data-keyboard="false"
    data-toggle="modal" style="display:none;">
</button>

<div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="msgModalLabel">{{PopUpMessage}}</h5>
                <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="dismissMsg()">OK</button>
            </div>
        </div>
    </div>
</div>