.checkbox-inline {
	font-weight: 400;
	font-size: 14px;
}

.masterVendorLabelDiv {
	font-weight: 600;
}

.PHandStore {
	width: 180px;
	max-width: 180px;
}

.main-div label.text {
	font-weight: 400;
	font-size: 14px;
}

@media (max-width: 320px) {
	.main-div label.text {
		font-size: 12px;
	}
}

.stateCodeLabel {
	font-weight: 600;
}

fieldset {
	padding-left: 15px;
}

fieldset legend {
	font-size: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0px 0px 5px 0px;
	font-weight: 600;
}

.DPTypUL {
	list-style-type: none;
	padding-left: 15px;
}

.DPTypUL li {
	float: left;
	padding-right: 5px;
}

.col-md-2, .col-md-4, .col-md-8 {
	float: left;
}

.moveButton {
	margin-top: 65px;
}