<form class="form-inline" [formGroup]="personalDetailsForm" (ngSubmit)="SavePersonalDetails()" novalidate>
    <div class="main-div">
        <!-- Vendor Details -->
        <div class="detail-page">

            <!-- Personal Information -->
            <div class="col clearfix" formGroupName="PersonalDetails">
                <div class="content-heading">
                    <a href="javascript:void(0)" (click)="ToggleContainer(personalDetailsForm.get('PersonalDetails'))"
                        class="glyphicon-expand">
                        <span>{{personalDetailsForm.get('PersonalDetails').controls.IsExpanded.value ? '-' : '+'}}</span>
                    </a>Personal Details

                </div>
                <div class="slider" [ngClass]="{
                      closed: !personalDetailsForm.get('PersonalDetails').controls.IsExpanded.value
                  }">
                    <div class="col-md-8">
                        <div class="col-md-12 form-group">
                            <div class="col-md-6">
                                <label class="text">Vendor Code</label>
                                <span>
                                    <input disabled type="text" formControlName="Code" class="form-control input-sm" />
                                </span>
                            </div>
                            <div class="col-md-6">
                                <label class="text">Vendor Name</label>
                                <span>
                                    <input disabled type="text" formControlName="Name" class="form-control input-sm" value="" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-6">
                                <label class="text">Master Vendor Name
                                    <span>(Parent/sister company)</span>
                                </label>
                                <span>
                                    <input type="text" formControlName="MasterVendorName" class="form-control input-sm"
                                        value="" />
                                </span>
                            </div>
                            <div class="col-md-6">
                                <label class="text">PAN No.</label>
                                <span><input disabled type="text" formControlName="PANNo" class="form-control input-sm" /></span>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-6">
                                <label class="text">GST Registration No.</label>
                                <span><input disabled type="text" formControlName="GSTIN" class="form-control input-sm" /></span>
                            </div>
                            <div class="col-md-6">
                                <label class="text">TIN No. <span>(Incase GST not applicable)</span></label>
                                <span><input type="text" formControlName="TINNo" class="form-control input-sm" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="padding-left:0px;">

                        <div class="col-md-12 form-group">
                            <div class="col-md-4" style="padding-left:0px;">
                                <label class="text">Vendor Type</label>
                            </div>

                            <div class="col-md-2">
                                <label class="radio-inline">
                                    <input value="DP" type="radio" formControlName="VendorType">
                                    <span style="margin-left:5px;">DP</span>
                                </label>
                            </div>

                            <div class="col-md-1">
                                <label class="radio-inline">
                                    <input value="JW" type="radio" formControlName="VendorType">
                                    <span style="margin-left:5px;">JW</span>
                                </label>
                            </div>

                        </div>

                        <div *ngIf="personalDetailsForm.get('PersonalDetails').controls.VendorType.value==='JW'">
                            <div class="col-md-12 form-group">
                                <div class="col-md-5" style="padding:0px;">
                                    <label class="text">PH/FO</label>
                                    <span>
                                        <select class="form-control input-sm" formControlName="PHList" size="8"
                                            multiple="multiple">
                                            <option value="NWHSTR">Home Projects</option>
                                            <option value="NWH">National Warehouse</option>
                                            <option value="BM12">PH Mumbai</option>
                                            <option value="AH08">PH-Ahmedabad</option>
                                            <option value="AM09">PH-Amroha</option>
                                            <option value="BA13">PH-Bangalore</option>
                                            <option value="BJ10">PH-Bijnor</option>
                                            <option value="CN15">PH-Chennai</option>
                                            <option value="DL11">PH-Delhi-A</option>
                                            <option value="DL16">PH-Delhi-B</option>
                                            <option value="DMPH">PH-Dummy</option>
                                            <option value="AP14">PH-Hyderabad</option>
                                            <option value="CH07">PH-Indore</option>
                                            <option value="JA02">PH-Jaipur</option>
                                            <option value="JD03">PH-Jodhpur</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="col-md-1" style="padding-left:5px;">

                                    <input type="button" style="margin-bottom: 5px;" value=">" (click)="MoveToSelectedPHList()">
                                    <input type="button" disabled="disabled" value="<" (click)="MoveToPHList()">

                                    <!-- <button id="btnAdd" style="margin-bottom: 5px;">></button>
                              <button id="btnRemove" disabled="disabled"><</button> -->
                                </div>
                                <div class="col-md-5" style="padding-left:8px;padding-right: 0px">
                                    <label class="text">Selected PH</label>
                                    <span>
                                        <select class="form-control input-sm" name="list2" size="8" id="list2" multiple="multiple">

                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Vendor Address -->

            <div class="col" formGroupName="Address">
                <div class="content-heading">
                    <a href="javascript:void(0)" (click)="ToggleContainer(personalDetailsForm.get('Address'))" class="glyphicon-expand">
                        <span>{{personalDetailsForm.get('Address').controls.IsExpanded.value ? '-' : '+'}}</span>
                    </a>Address
                </div>
                <div class="slider" [ngClass]="{
                      closed: !personalDetailsForm.get('Address').controls.IsExpanded.value
                  }">

                    <div class="col-md-12 form-group">
                        <div class="col-md-4">

                            <span>
                                <button type="button" class="btn btn-info btn-sm" (click)="openModalDialog()">Add new
                                    address</button>
                                <div class="" [ngStyle]="{'display':display}"></div>
                            </span>
                        </div>
                    </div>
                    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                        <!-- modal-dialog -->
                        <div class="modal-dialog" role="document">
                            <!-- modal-content -->
                            <div class="modal-content">
                                <!-- modal-header -->
                                <div class="modal-header">
                                    <h6 class="modal-title">Add New Address</h6>
                                    <button class="close" aria-label="Close" (click)="closeModalDialog()"><span
                                            aria-hidden="true">&times;</span></button>
                                    <!-- <h4 class="modal-title">Add New Address</h4> -->
                                </div>
                                <!-- modal-body -->
                                <div class="modal-body">
                                    <!-- <form [formGroup]="addressForm" (ngSubmit) = "OnSubmit(addressForm.value)" > -->

                                    <div formArrayName="addressForm">
                                        <div *ngFor="let item of addressForm.controls; let i = index;">
                                            <!-- <div [formGroupName]="i"> -->
                                                <div class="col-md-12 form-group">
                                                    <div class="col-md-12">
                                                        <label class="text">Name</label>
                                                        <span>
                                                            <input formControlName="nameInAddress" type="text" class="form-control input-sm"
                                                                [ngClass]="{ 'is-invalid': (f.nameInAddress.touched || submitted) && f.nameInAddress.errors }" />
                                                            <div *ngIf="f.nameInAddress.errors" class="invalid-feedback">
                                                                <p *ngIf="f.nameInAddress.errors.required">Name is
                                                                    required</p>
                                                            </div>
                                                            <!-- <p>name is {{personalDetailsForm.get('Address').controls.nameInAddress.value}}</p> -->
                                                            <!-- <p>name is {{addressForm.controls.nameInAddress.value}}</p> -->
                                                            <!-- <div *ngIf="f.nameInAddress.errors.required">First Name is required</div> -->
                                                            <!-- <div 
                                                        *ngIf="nameInAddress.invalid && nameInAddress.dirty"> (2)
                                                     Field is invalid
                                                   </div>     -->

                                                            <!-- <div *ngIf="isFieldValid('nameInAddress')">"Please inform your name"</div> -->

                                                        </span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="text">Pincode</label>
                                                        <span>
                                                            <input formControlName="PIN" type="text" class="form-control input-sm" />
                                                        </span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="text">State</label>
                                                        <span>
                                                            <select formControlName="State" class="form-control input-sm">
                                                                <option>Select</option>
                                                                <option value="DL">Delhi</option>
                                                                <option value="WB">West bangal</option>
                                                                <option value="PB">Punjab</option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label class="text">Address Line 1</label>
                                                        <span>
                                                            <input formControlName="AddressLine1" type="text" class="form-control input-sm"
                                                                [ngClass]="{ 'is-invalid': (f.AddressLine1.touched || submitted) && f.AddressLine1.errors }" />
                                                            <div *ngIf="f.AddressLine1.errors" class="invalid-feedback">
                                                                <p *ngIf="f.AddressLine1.errors.required">Address is
                                                                    required</p>
                                                            </div>
                                                        </span>

                                                    </div>
                                                    <div class="col-md-12">
                                                        <label class="text">Address Line 2</label>
                                                        <span>
                                                            <input formControlName="AddressLine2" type="text" class="form-control input-sm" />
                                                        </span>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label class="text">City/District</label>
                                                        <span>
                                                            <!-- <input formControlName="City" type="text" class="form-control input-sm"  [ngClass]="{ 'is-invalid': submitted && f.City.errors }" /> -->
                                                            <input formControlName="City" type="text" class="form-control input-sm"
                                                                [ngClass]="{ 'is-invalid': (f.City.touched || submitted) && f.City.errors }" />
                                                            <!-- <input formControlName="City" type="text" class="form-control input-sm" ngClass="{
                                                                'has-error': !f.City.valid && f.City.touched,
                                                                'has-feedback': !f.City.valid && f.City.touched
                                                            }"> -->
                                                            <!-- <div *ngIf="submitted && addressForm.controls.City.errors" class="invalid-feedback"> -->
                                                            <div *ngIf="f.City.errors" class="invalid-feedback">
                                                                <p *ngIf="f.City.errors">min length is 3</p>
                                                                <p *ngIf="f.City.errors.required">City is required</p>

                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <div class="col-md-4">
                                                        <label class="text">Address Type</label>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <label class="radio-inline">
                                                            <input value="factory" type="radio" formControlName="AddressType">
                                                            <span style="margin-left:5px;">factory</span>
                                                        </label>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <label class="radio-inline">
                                                            <input value="Office" type="radio" formControlName="AddressType">
                                                            <span style="margin-left:5px;">Office</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            <!-- </div> -->

                                        </div>
                                    </div>





                                    <div class="col-md-12 form-group page-footer">
                                        <!-- <button type="button" class="mr-3 btn btn-primary" (click)="alertData(personalDetailsForm.value)">Save</button> -->
                                        <!-- <button type="submit" class="mr-3 btn btn-primary" (click)="alertData(addressForm.value)">Save</button> -->
                                        <button type="submit" class="mr-3 btn btn-primary">Save</button>
                                        <button type="button" class="btn" (click)="closeModalDialog()">Cancel</button>
                                    </div>
                                    <div>
                                        <!-- <p>Name Is  - {{nameInAddress}} and State is - {{State}}</p> -->
                                    </div>
                                    <!-- </form> -->
                                </div>

                                <!-- modal-footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" (click)="closeModalDialog()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Contact -->

            <div class="col" formGroupName="Contact">
                <div class="content-heading">
                    <a href="javascript:void(0)" (click)="ToggleContainer(personalDetailsForm.get('Contact'))" class="glyphicon-expand">
                        <span>{{personalDetailsForm.get('Contact').controls.IsExpanded.value ? '-' : '+'}}</span>
                    </a>Contact
                </div>
                <div class="slider" [ngClass]="{
                  closed: !personalDetailsForm.get('Contact').controls.IsExpanded.value
              }">
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <label class="text">Contact Person
                                <span>(For receiving notification/SMS from Fabindia)</span>
                            </label>
                            <span>
                                <input type="text" formControlName="ContactPersonName" name="ContactPerson" class="form-control input-sm" />
                            </span>
                        </div>
                    </div>

                    <div class="col-md-12 form-group">
                        <div class="col-md-4">
                            <label class="text">Office Contact No.</label>
                            <span>
                                <input type="text" formControlName="OfficeContact" name="OfficeContact" class="form-control input-sm" />
                            </span>
                        </div>
                        <div class="col-md-4">
                            <label class="text">Contact Person's Mobile. No.</label>
                            <span>
                                <input type="text" formControlName="ContactPersonMobile" name="ContactMobile" class="form-control input-sm"
                                    value="" />
                            </span>
                        </div>
                        <div class="col-md-4">
                            <label class="text">Fax No. <span>(If any)</span></label>
                            <span>
                                <input type="text" formControlName="FAXNo" name="FaxNo" class="form-control input-sm" />
                            </span>
                        </div>
                    </div>

                    <div class="col-md-12 form-group">
                        <div class="col-md-4">
                            <label class="text">E-mail ID</label>
                            <span><input type="text" name="emailID" formControlName="EmailId" class="form-control input-sm" /></span>
                        </div>
                        <div class="col-md-4">
                            <label class="text">Website Address <span>(If any)</span></label>
                            <span><input type="text" formControlName="WebSite" name="webSite" class="form-control input-sm"
                                    value="" /></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Other Registration Detail -->

            <div class="col" formGroupName="OtherRegDetails">
                <div class="content-heading">
                    <a href="javascript:void(0)" (click)="ToggleContainer(personalDetailsForm.get('OtherRegDetails'))"
                        class="glyphicon-expand">
                        <span>{{personalDetailsForm.get('OtherRegDetails').controls.IsExpanded.value ? '-' : '+'}}</span>
                    </a>Other Registration Detail
                </div>
                <div class="slider" [ngClass]="{
                  closed: !personalDetailsForm.get('OtherRegDetails').controls.IsExpanded.value
              }">
                    <div class="col-md-12 form-group">
                        <div class="col-md-4">
                            <label class="text">Associated With Fabindia Since</label>
                            <span>
                                <select formControlName="AssociatedSinceYear" class="form-control input-sm">
                                    <option value="0">Select</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                </select>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <label class="text">Nature Of Enterprise</label>
                            <span>
                                <select formControlName="EnterpriseNature" class="form-control input-sm">
                                    <option value="">Select</option>
                                    <option value="Manufacturer">Manufacturer</option>
                                    <option value="NGO">NGO</option>
                                    <option value="Cooperative">Cooperative</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-4">
                            <label class="text">Name Of Partner/Proprietor/etc 1</label>
                            <span>
                                <input formControlName="Partner1Name" name="Partener1Name" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                        <div class="col-md-4">
                            <label class="text">Name Of Partner/Proprietor/etc 2</label>
                            <span>
                                <input formControlName="Partner2Name" name="Partener2Name" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Top 5 Customers Name -->
            <div class="col" formGroupName="CustomerDetails">
                <div class="content-heading">
                    <a href="javascript:void(0)" (click)="ToggleContainer(personalDetailsForm.get('CustomerDetails'))"
                        class="glyphicon-expand">
                        <span>{{personalDetailsForm.get('CustomerDetails').controls.IsExpanded.value ? '-' : '+'}}</span>
                    </a>Top 5 Customers
                </div>
                <div class="slider" [ngClass]="{
                  closed: !personalDetailsForm.get('CustomerDetails').controls.IsExpanded.value
              }">
                    <div class="col-md-12 form-group">
                        <div class="col-md-4">
                            <label class="text">Customer1</label>
                            <span>
                                <input formControlName="Customer1Name" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                        <div class="col-md-4">
                            <label class="text">Customer2</label>
                            <span>
                                <input formControlName="Customer2Name" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                        <div class="col-md-4">
                            <label class="text">Customer3</label>
                            <span>
                                <input formControlName="Customer3Name" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-4">
                            <label class="text">Customer4</label>
                            <span>
                                <input formControlName="Customer4Name" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                        <div class="col-md-4">
                            <label class="text">Customer5</label>
                            <span>
                                <input formControlName="Customer5Name" type="text" class="form-control input-sm" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr>

        <!-- End of Detail Page -->

        <div class="col-md-12 page-footer">
            <button routerLink="/Vendor" type="submit" class="mr-3 btn btn-primary">Save</button>
            <button routerLink="/Vendor" type="button" class="btn">Cancel</button>
        </div>
    </div>
</form>