@charset "utf-8";
body {
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
    color: #333333;
    font-size: 15px;
    overflow-x: hidden;
    line-height: 24px;
}

.no-padding {
    padding: 0;
}

img {
    border: none;
    max-width: 100%;
}

/*
    button:hover {cursor: pointer;}
*/

.login-logo {
    margin-top: 15%;
    text-align: center;
}

.login {
    background: #7d2d30 url(/assets/images/login-bg.png) no-repeat bottom center;
    height: 100%;
    width: 100%;
    position: fixed;
}

.login-form {
    width: 100%;
    max-width: 450px;
    float: right;
    margin-top: 24%;
}

.login-form input[type="text"] {
    background: #fff url(/assets/images/user-icon.png) 17px center no-repeat;
}

.login-form input[type="password"] {
    background: #fff url(/assets/images/pwd-icon.png) 17px center no-repeat;
}

.captchaInput {
    padding-left: 10px !important;
}

.login-form input {
    border: 1px solid #9e9e9e;
    padding-left: 50px;
    font-size: 18px;
    color: #4f5f6f;
    height: 45px;
}

.login-form button {
    background-color: #f58220;
    color: #fff;
    max-width: 450px;
    width: 100%;
    border: none;
    height: 44px;
    text-align: center;
    font-size: 22px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.login-form button:hover, .login-form button:focus, .login-form button::before {
    background-color: #FFA500;
}

.login-form p {
    font-size: 13px;
    color: #eeeeee;
    margin: 5px 0;
}

.login-form p a {
    color: #eeeeee;
}

#myCanvas {
    background-image: url(/assets/images/captcha-back.png);
    text-align: center;
    border: none;
    height: 45px;
    font-weight: bold;
    font-family: Modern;
    width: 100%;
    background-position: center;
}

/*==================
 RESPONSIVE DESIGN
====================*/

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .login-logo {
        margin-top: 5%
    }
    .login-logo img {
        max-width: 25%;
    }
    .login-form {
        float: none;
        margin: auto;
        /* margin-top: 5%; */
    }
    #myCanvas, .login-form input {
        height: 34px;
    }
    .login-form button {
        font-size: 16px;
        position: relative;
        height: 34px;
    }
}

@media (max-width: 640px) {
    .login-logo img {
        max-width: 50%;
    }
    .login-form {
        margin-top: 5%;
    }
    #myCanvas, .login-form input {
        height: 34px;
    }
    .login-form button {
        font-size: 16px;
        position: relative;
        height: 34px;
    }
}

@media (max-width: 480px) {
    .login-logo img {
        max-width: 50%;
    }
    .login-form {
        margin-top: 5%;
    }
    #myCanvas, .login-form input {
        height: 34px;
    }
    .login-form button {
        font-size: 16px;
        position: relative;
        height: 34px;
    }
}

@media (max-width: 360px) {
    .login-logo img {
        max-width: 50%;
    }
    .login-form {
        margin-top: 5%;
    }
    #myCanvas, .login-form input {
        height: 34px;
    }
    .login-form button {
        font-size: 16px;
        position: relative;
        height: 34px;
    }
}

@media (max-width: 320px) {
    .login-logo img {
        max-width: 50%;
    }
    .login-form {
        margin-top: 5%;
    }
    #myCanvas, .login-form input {
        height: 34px;
    }
    .login-form button {
        font-size: 16px;
        position: relative;
        height: 34px;
    }
}