<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 login-logo">
        <img src="assets\images\login-logo.png">
      </div>
      <div class="col-sm-6">
        <div class="login-form">
          <!-- <h1>Producer Management System</h1> -->
          <form [formGroup]="LoginForm" (ngSubmit)="UserAuthentication()" novalidate>
            <div class="row">
              <span style="color:bisque;">
                <h6>{{errormsg}}</h6>
              </span>

              <div class="col-md-12">
                <div class="form-group">
                  <input class="form-control" formControlName="UserName" [ngClass]="{'is-invalid': formErrors.Username}"
                    placeholder="Employee Id" type="text" value="" />
                  <span style="color:bisque;" class="help-block"
                    *ngIf="formErrors.UserName">{{formErrors.UserName}}</span>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <input formControlName="Password" class="form-control" [ngClass]="{'is-invalid': formErrors.Password}"
                    placeholder="Password" type="password" />
                  <span style="color:bisque;" class="help-block"
                    *ngIf="formErrors.Password">{{formErrors.Password}}</span>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <input class="form-control" formControlName="PeriodicKey"
                    [ngClass]="{'is-invalid': formErrors.PeriodicKey}" placeholder="Periodic Key" type="password" />
                  <span style="color:bisque;" class="help-block"
                    *ngIf="formErrors.PeriodicKey">{{formErrors.PeriodicKey}}</span>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5 col-as-5 col-sm-5">
                      <canvas id="myCanvas"></canvas>
                    </div>
                    <div class="col-md-7 col-as-7 col-sm-7 pull-right">
                      <input id="txtInput" class="captchaInput form-control" autocomplete="off" maxlength="10">
                      <span style="color:bisque;" class="help-block" *ngIf="!isValidCaptcha">Invalid Captcha</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <button type="submit" (click)="(ValidCaptcha())">Log In</button>
                </div>
              </div>

            </div>
          </form>
          <p>
            <a class="invisible" href="javascript:void(0);">Forgot Password ?</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>