.table > tbody > tr > td{
    font-family: verdana;
    color: #000000;
    font-size: 13px;
    /*font-weight: 700;*/
}
input[type="text"],select{margin-bottom:0px !important;}
.modal label{font-size: 13px;}

.dropdown {
    border: none;
    padding: 0px;
    /* border: 1px solid #ced4da; */
  }
.red {
    border: 1px solid red !important;
    line-height: 1.52857143 !important;
    border-radius: 5px;
    height: 34px;
    /* padding: 6px 12px;
    padding: 0px; */
}
