#ashu{margin:0px;width:100%}
#ashu .col-md-66{padding:0px;width:50%;float:left;}
#ashu .col{padding:0px;}
#ashu .col-md-12,.col-md-6{padding-left:0px;}

.error-label{
    color:red;
    font-size: 90%;
    font-weight: 400;

}

.err{
    margin-bottom:0% 
}
