.productionModal {
    max-width: 1100px;
    font-weight: 500;
}
.modal label{font-size: 13px;}

.table > tbody > tr > td{
    font-family: verdana;
    color: #000000;
    font-size: 13px;
    /*font-weight: 700;*/
}
input[type="text"],select{margin-bottom:0px !important;}
.toRight {
    margin-left:78%;
}

.dropdown {
    border: none;
    padding: 0px;
}
