<div class="col-lg-12 col-sm-12 col-md-12">
  <!-- <input type="text" class="SearchBox mr-2" placeholder="Search" (keyup)="SearchProductionDetails($event.target.value)"
    name="search"> -->
  <button type="button" class="btn btn-primary float-right" (click)="EditProductionDetail(null)">
    <i class="fa fa-plus"></i>
    <span title="Add new" class="py-4">Add</span>
  </button>
</div>
<div class="clearfix"></div>
<div class="col-lg-12 col-sm-12 col-md-12" style="margin-top:10px;">
  <!-- <p>{{searchText}}</p> -->
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <!-- <tr class="search">
        <td><input type="text" [(ngModel)]="searchBySubContName" (keyup)="SearchProductionDetails()" /></td>
        <td><input type="text" [(ngModel)]="searchBySubContNature" (keyup)="SearchProductionDetails()" /></td>
        <td><input type="text" [(ngModel)]="searchByApprProdUnits" (keyup)="SearchProductionDetails()" /></td>
        <td><input type="text" [(ngModel)]="searchByMonCapacity" (keyup)="SearchProductionDetails()" /></td>
        <td><input type="text" [(ngModel)]="searchByMinCapacity" (keyup)="SearchProductionDetails()" /></td>
        <td><input type="text" [(ngModel)]="searchByLeanMonths" (keyup)="SearchProductionDetails()" /></td>
        <td><input type="text" [(ngModel)]="searchByLeanCapacity" (keyup)="SearchProductionDetails()" /></td>
        <td></td>
      </tr> -->
      <tr>
        <th scope="col">Sub Contracting Unit Name</th>
        <th scope="col">Nature of Sub Contracting Unit</th>
        <th scope="col">Approved Production Units</th>
        <th scope="col">Monthly Capacity</th>
        <th scope="col">Minimal Capacity</th>
        <th scope="col">Lean Months</th>
        <th scope="col">Lean Capacity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="10" *ngIf="!pagedItems || pagedItems.length === 0">No Record Found</td>
      </tr>
      <ng-container *ngFor="let production of pagedItems;index as i;">
        <div class="panel-group"></div>
        <tr>
          <td>{{production.SubContractingName}}</td>
          <td>{{production.NatureOfSubContracting}}</td>
          <td>{{production.ApprovedProductionCount}}</td>
          <td>{{production.MonthlyCapacity}}</td>
          <td>{{production.MinimalCapacity}}</td>
          <td>{{production.LeanMonths}}</td>
          <td>{{production.LeanCapacity}}</td>
          <td>
            <a title="Edit" href="javascript:void(0)" (click)="EditProductionDetail(production)">
              <i class="fa fa-edit"></i>
            </a>

            <a class="ml-2" title="View Address" href="javascript:void(0)" [attr.data-target]="'#Collapse' + (i + 1)"
              data-toggle="collapse">
              <i class="fa fa-address-book"></i>
            </a>

            <a title="Delete Production Detail" href="javascript:void(0)" class="ml-2"
              (click)="DeleteProductionDetail(production)" data-target="#deleteModal">
              <i class="fa fa-remove"></i>
            </a>
          </td>
        </tr>
        <tr class="collapse" id="{{'Collapse' + (i + 1)}}">
          <td colspan="11">
            <table class="table table-hover table-sm">
              <thead class="table-warning">
                <tr>
                  <th>Address</th>
                  <th>Phone</th>
                  <th>State</th>
                  <th>City</th>
                  <th>PIN</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{production.Address2 === '' ? production.Address1 : production.Address1 + ','}}
                    {{production.Address3 === '' ? production.Address2 : production.Address2 + ','}}
                    {{production.Address3}}
                  </td>
                  <td>{{production.Phone}}</td>
                  <td>{{production.StateName}}</td>
                  <td>{{production.CityCode}}</td>
                  <td>{{production.Pin}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <nav aria-label="..." class="" *ngIf="totalItems!==0">
    <ul class="pagination justify-content-end">
      <li class="page-item" *ngIf="pager.currentPage !== 1">
        <button class="page-link" (click)="GetVendorProduction(1)">First</button>
      </li>
      <li class="page-item" *ngIf="pager.currentPage !== 1">
        <a class="page-link" (click)="GetVendorProduction(pager.currentPage - 1)">Prev</a>
      </li>

      <li class="page-item" [class.active]="i === pager.currentPage" *ngFor="let i of pager.pages">
        <button class="page-link" (click)="GetVendorProduction(i)" href="javascript:void(0)">{{i}}</button>
      </li>

      <li class="page-item" *ngIf="pager.currentPage !== pager.totalPages">
        <a class="page-link" (click)="GetVendorProduction(pager.currentPage + 1)">Next</a>
      </li>
      <li class="page-item" *ngIf="pager.currentPage !== pager.totalPages">
        <a class="page-link" (click)="GetVendorProduction(pager.totalPages)">Last</a>
      </li>
    </ul>
  </nav>
</div>

<button #modalOpen type="button" data-target="#myModal" data-backdrop="static" data-keyboard="false" data-toggle="modal"
  style="display:none;">
</button>

<div class="modal popup" id="myModal">
  <!-- modal-dialog -->
  <div class="modal-dialog modal-lg" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
        <h6 class="modal-title">Production <span class="req-popup-label">(<b>Note:</b> * marks filed are required)</span></h6>
        <button type="button" class="close" (click)="dismiss()" data-dismiss="modal">&times;</button>
      </div>
      <!-- modal-body -->
      <div class="modal-body">
        <form [formGroup]="ProductionDetailsForm" (ngSubmit)="SaveProductionDetails()" novalidate>

          <fieldset>
            <div class="col-lg-12 col-md-12">
              <div class="form-group col-lg-12">
                <div class="row">

                  <div class="col-lg-4 col-md-4">
                    <label class="text">Name of Sub Contracting Unit<span class="error-label">*</span></label>
                    <span><input type="text" formControlName="SubContractingName" maxlength="254"
                        class="form-control input-sm" (blur)="LogValidationErrors()"
                        [ngClass]="{ 'is-invalid err': formErrors.SubContractingName }" /></span>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <label class="text">Nature of Sub Contracting Unit<span class="error-label">*</span></label>
                    <span><input type="text" maxlength="99" (blur)="LogValidationErrors()"
                        formControlName="NatureOfSubContracting" class="form-control input-sm"
                        [ngClass]="{ 'is-invalid err': formErrors.NatureOfSubContracting }" /></span>
                  </div>
                </div>
              </div>

              <hr>
              <!-- For Address -->

              <div class="form-group col-lg-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4">
                    <label class="text">Address Line 1<span class="error-label">*</span></label>
                    <span>
                      <input type="text" formControlName="Address1" class="form-control input-sm" maxlength="49"
                        [ngClass]="{ 'is-invalid err': formErrors.Address1 }" (blur)="LogValidationErrors()" />
                    </span>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <label class="text">Address Line 2</label>
                    <span><input type="text" formControlName="Address2" maxlength="49"
                        class="form-control input-sm" /></span>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <label class="text">Address Line 3</label>
                    <span><input type="text" name="address3" formControlName="Address3" maxlength="49"
                        class="form-control input-sm" /></span>
                  </div>
                </div>
              </div>

              <div class="form-group col-lg-12">
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    <label class="text">Phone<span class="error-label">*</span></label>
                    <span>
                      <input type="text" formControlName="Phone" class="form-control input-sm" maxlength="10"
                        [ngClass]="{ 'is-invalid err': formErrors.Phone }" (blur)="LogValidationErrors()" />
                    </span>
                    <span [ngClass]="{ 'error-label':formErrors.Phone}" *ngIf="formErrors.Phone">
                      {{formErrors.Phone}}</span>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <label class="text">State<span class="error-label">*</span></label>
                    <span>
                      <select formControlName="StateCode" class="form-control input-sm"
                        [ngClass]="{ 'is-invalid err': formErrors.StateCode }" (blur)="LogValidationErrors()">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let state of StateList" value="{{state.MDDCode}}">{{state.MDDName}}</option>
                      </select>
                    </span>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <label class="text">City<span class="error-label">*</span></label>
                    <span>
                      <input type="text" formControlName="CityCode" class="form-control input-sm" maxlength="49"
                        [ngClass]="{ 'is-invalid err': formErrors.CityCode }" (blur)="LogValidationErrors()" />
                    </span>
                    <span [ngClass]="{ 'error-label':formErrors.CityCode}" *ngIf="formErrors.CityCode">
                      {{formErrors.CityCode}}</span>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <label class="text">PinCode<span class="error-label">*</span></label>
                    <span><input type="text" formControlName="Pin" class="form-control input-sm" maxlength="6"
                        [ngClass]="{ 'is-invalid err': formErrors.Pin }" (blur)="LogValidationErrors()" /></span>
                    <span [ngClass]="{ 'error-label':formErrors.Pin}" *ngIf="formErrors.Pin">
                      {{formErrors.Pin}}</span>
                  </div>
                </div>
              </div>

              <hr>

              <div class="form-group col-lg-12">
                <div class="row">

                  <div class="col-lg-2 col-md-2">
                    <label class="text">Approved Prod. Units<span class="error-label">*</span></label>
                    <span>
                      <input type="text" formControlName="ApprovedProductionCount" class="form-control input-sm"
                        (blur)="LogValidationErrors()"
                        [ngClass]="{ 'is-invalid': formErrors.ApprovedProductionCount}" />
                    </span>
                    <span [ngClass]="{ 'error-label':formErrors.ApprovedProductionCount}"
                      *ngIf="formErrors.ApprovedProductionCount">
                      {{formErrors.ApprovedProductionCount}}</span>
                  </div>

                  <div class="col-lg-2 col-md-2">
                    <label class="text">Monthly Capacity<span class="error-label">*</span></label>
                    <span>
                      <input type="text" formControlName="MonthlyCapacity" class="form-control input-sm" maxlength="13"
                        [ngClass]="{ 'is-invalid err': formErrors.MonthlyCapacity }" (blur)="LogValidationErrors()" />
                    </span>
                    <span [ngClass]="{ 'error-label':formErrors.MonthlyCapacity}" *ngIf="formErrors.MonthlyCapacity">
                      {{formErrors.MonthlyCapacity}}
                    </span>
                  </div>
                  <div class="col-lg-2 col-md-2">
                    <label class="text">Minimal Capacity<span class="error-label">*</span></label>
                    <span><input type="text" formControlName="MinimalCapacity" class="form-control input-sm"
                        maxlength="13" [ngClass]="{ 'is-invalid err': formErrors.MinimalCapacity }"
                        (blur)="LogValidationErrors()" /></span>
                    <span [ngClass]="{ 'error-label':formErrors.MinimalCapacity }" *ngIf="formErrors.MinimalCapacity">
                      {{formErrors.MinimalCapacity}}
                    </span>
                  </div>
                  <div class="col-lg-2 col-md-2">
                    <label class="text">Lean Months<span class="error-label">*</span></label>
                    <span>
                      <!-- <input type="text" formControlName="LeanMonths" class="form-control input-sm"
                        [ngClass]="{ 'is-invalid err': formErrors.LeanMonths }" (blur)="LogValidationErrors()" /> -->
                        <input type="text" formControlName="LeanMonths" class="form-control input-sm"
                        [ngClass]="{ 'is-invalid err': formErrors.LeanMonths }" (blur)="CheckLeanMonth()" />
                    </span>
                    <span [ngClass]="{ 'error-label':formErrors.LeanMonths}"
                      *ngIf="formErrors.LeanMonths">{{formErrors.LeanMonths}}
                    </span>
                  </div>
                  <div class="col-lg-2 col-md-2">
                    <label class="text">Lean Capacity<span class="error-label">*</span></label>
                    <span><input type="text" formControlName="LeanCapacity" class="form-control input-sm" maxlength="13"
                        [ngClass]="{ 'is-invalid err': formErrors.LeanCapacity }"
                        (blur)="LogValidationErrors()" /></span>
                    <span [ngClass]="{ 'error-label':formErrors.LeanCapacity }" *ngIf="formErrors.LeanCapacity">
                      {{formErrors.LeanCapacity}}</span>
                  </div>
                  <div class="col-lg-12 col-md-12">
                    <label class="text">Remarks</label>
                    <span>
                      <input type="text" formControlName="Remarks" class="form-control input-sm" maxlength="511" 
                      [ngClass]="{ 'is-invalid err': formErrors.Remarks }" />
                    </span>
                    <span [ngClass]="{ 'error-label':formErrors.Remarks}"
                    *ngIf="formErrors.Remarks">{{formErrors.Remarks}}
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          <!-- Modal footer -->
          <div class="modal-footer col-md-12  page-footer">
            <button type="submit" class="mr-3 btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" (click)="Dismiss()">Cancel</button>
            <button #modalCloseButton style="display: none;" type="button" data-dismiss="modal"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Hidden button to open delete modal -->
<button #deleteModalOpen type="button" data-target="#deleteModal" data-backdrop="static" data-keyboard="false"
  data-toggle="modal" style="display:none;">
</button>
<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Delete?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">This record no longer will be available in the system. Are you sure?</div>
      <div class="modal-footer">
        <button #deleteModalClose class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" (click)="SaveProductionDetails()">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Hidden button to open alert modal -->
<button #alertModalOpen type="button" data-target="#alertModal" data-backdrop="static" data-keyboard="false"
  data-toggle="modal" style="display:none;">
</button>

<!-- Modal to open alert modal -->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{PopUpMessage}}</h5>
        <button class="btn btn-primary" type="button" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>