<div class="col-lg-12 col-sm-12 col-md-12 row">
  <input type="text" class="SearchBox mr-2" placeholder="Search" (keyup)="SearchBusinessDetails($event.target.value)"
    name="search">
  <button type="button" class="btn btn-primary float-right" data-toggle="modal" (click)="openModal()"
    data-target="#myModal" data-backdrop="static" data-keyboard="false">
    <i class="fa fa-plus"></i>
    <span title="Add new" class="py-4">Add</span>
  </button>
</div>

<div class="clearfix"></div>
<div class="col-lg-12 col-sm-12 col-md-12" style="margin-top:10px;">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <!-- <tr>
        <th rowspan="2" scope="col">Financial Year</th>
        <th rowspan="2" scope="col">Division</th>
        <th rowspan="2" scope="col">Department</th>
        <th scope="col" colspan="4" style="font-weight: 700;">Actual Quantity</th>
        <th scope="col" colspan="4" style="font-weight: 700;">Proposed Quantity</th>
        <th rowspan="2" scope="col">Action</th>
      </tr>
      <tr>
        <th scope="col">DP Business</th>
        <th scope="col">DP GRN Qty</th>
        <th scope="col">JW Business</th>
        <th scope="col">JW GRN Qty</th>
        <th scope="col">DP Business</th>
        <th scope="col">DP Qty</th>
        <th scope="col">JW Business</th>
        <th scope="col">JW Qty</th>
      </tr> -->
      <tr>
        <th scope="col">Financial Year</th>
        <th scope="col">Division</th>
        <th scope="col">Department</th>
        <th scope="col">Proposed DP Business</th>
        <th scope="col">Proposed DP Qty</th>
        <th scope="col">Proposed JW Business</th>
        <th scope="col">Proposed JW Qty</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="8" *ngIf="pagedItems.length === 0">No Record Found</td>
      </tr>
      <tr *ngFor="let vendor of pagedItems;index as i;">
        <td>{{vendor.FinancialYear}}</td>
        <td>{{vendor.Division}}</td>
        <td>{{vendor.Department}}</td>

        <!-- <td>{{vendor.ActualDPValueQty}}</td>
          <td>{{vendor.ActualDPGrnQty}}</td>
          <td>{{vendor.ActualJWValueQty}}</td>
          <td>{{vendor.ActualJWGrnQty}}</td> -->

        <td>{{vendor.ProposedDPValueQty}}</td>
        <td>{{vendor.ProposedDPGrnQty}}</td>
        <td>{{vendor.ProposedJWValueQty}}</td>
        <td>{{vendor.ProposedJWGrnQty}}</td>
        <td>
          <a title="Edit Business" href="javascript:void(0)" data-toggle="modal" (click)="GetBusinessDetails(vendor)"
            data-target="#myModal"><i class="fa fa-edit"></i></a>

          <a title="Delete Business" href="javascript:void(0)" class="ml-2" data-toggle="modal"
            (click)="DeleteBusinessDetailPopup(vendor)" data-target="#deleteModal"><i class="fa fa-remove"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="..." class="" *ngIf="totalItems!==0">
    <ul class="pagination justify-content-end">
      <li class="page-item" *ngIf="pager.currentPage !== 1">
        <button class="page-link" (click)="GetVendorBusiness(1)">First</button>
      </li>
      <li class="page-item" *ngIf="pager.currentPage !== 1">
        <a class="page-link" (click)="GetVendorBusiness(pager.currentPage - 1)">Prev</a>
      </li>

      <li class="page-item" [class.active]="i === pager.currentPage" *ngFor="let i of pager.pages">
        <button class="page-link" (click)="GetVendorBusiness(i)" href="javascript:void(0)">{{i}}</button>
      </li>

      <li class="page-item" *ngIf="pager.currentPage !== pager.totalPages">
        <a class="page-link" (click)="GetVendorBusiness(pager.currentPage + 1)">Next</a>
      </li>
      <li class="page-item" *ngIf="pager.currentPage !== pager.totalPages">
        <a class="page-link" (click)="GetVendorBusiness(pager.totalPages)">Last</a>
      </li>
    </ul>
  </nav>
</div>


<div class="modal fade" id="myModal">
  <!-- modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
        <h6 class="modal-title">Business</h6>
        <button type="button" class="close" (click)="dismiss()" data-dismiss="modal">&times;</button>
      </div>
      <!-- modal-body -->
      <div class="modal-body">
        <form [formGroup]="businessDetailsForm" (ngSubmit)="SaveBusinessDetails()" novalidate>
          <input type="hidden" formControlName="VendorBusinessDetailsID">

          <div class="form-group col-lg-12 col-md-12">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <label class="text">Division <span class="error-label">*</span></label>
                <span>
                  <select formControlName="divisionCode" class="form-control input-sm" (change)="GetDepartment($event)"
                    [ngClass]="{ 'is-invalid': formErrors.divisionCode }">
                    <option value="">Select Division</option>
                    <option *ngFor="let option of divisionList" value={{option.MDDCode}}>
                      {{option.MDDName}}
                    </option>
                  </select>
                </span>
              </div>
              <div class="col-lg-6 col-md-6">
                <label class="text">Department <span class="error-label">*</span></label>
                <span>
                  <select formControlName="deptCode" class="form-control input-sm"
                    [ngClass]="{ 'is-invalid': formErrors.deptCode }">
                    <option value="">Select Department</option>
                    <option *ngFor="let option of departmentList" value={{option.MDDCode}}>
                      {{option.MDDName}}
                    </option>
                  </select>
                </span>
              </div>
            </div>
          </div>
          <!-- <fieldset style="display:none;">
            <legend>Actual Quantity</legend>
            <div class="form-group col-lg-12 col-md-12">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                    <label class="text">DP Business <span class="error-label">*</span></label>
                    <span>
                      <input type="text" formControlName="ActualDPValueQty" class="form-control input-sm" 
                      [ngClass]="{ 'is-invalid': (businessDetailsForm.controls.ActualDPValueQty.touched || submitted) && businessDetailsForm.controls.ActualDPValueQty.errors }">
                    </span>
                </div>
                <div class="col-lg-6 col-md-6">
                  <label class="text">DP Quantity <span class="error-label">*</span></label>
                  <span>
                    <input type="text" formControlName="ActualDPGrnQty" class="form-control input-sm" 
                    [ngClass]="{ 'is-invalid': (businessDetailsForm.controls.ActualDPGrnQty.touched || submitted) && businessDetailsForm.controls.ActualDPGrnQty.errors }">
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group col-lg-12 col-md-12">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                    <label class="text">JW Business <span class="error-label">*</span></label>
                    <span>
                      <input type="text" formControlName="ActualJWValueQty" class="form-control input-sm" 
                      [ngClass]="{ 'is-invalid': (businessDetailsForm.controls.ActualJWValueQty.touched || submitted) && businessDetailsForm.controls.ActualJWValueQty.errors }">
                    </span>
                </div>
                <div class="col-lg-6 col-md-6">
                  <label class="text">JW Quantity <span class="error-label">*</span></label>
                  <span>
                    <input type="text" formControlName="ActualJWGrnQty" class="form-control input-sm" 
                    [ngClass]="{ 'is-invalid': (businessDetailsForm.controls.ActualJWGrnQty.touched || submitted) && businessDetailsForm.controls.ActualJWGrnQty.errors }">
                  </span>
                </div>
              </div>
            </div>
          </fieldset> -->

          <fieldset>
            <legend>Proposed Quantity</legend>
            <div class="form-group col-lg-12 col-md-12">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <label class="text">DP Business <span class="error-label">*</span></label>
                  <span>
                    <input type="text" formControlName="ProposedDPValueQty" class="form-control input-sm" maxlength="12"
                      [ngClass]="{ 'is-invalid': formErrors.ProposedDPValueQty }">
                  </span>
                </div>
                <div class="col-lg-6 col-md-6">
                  <label class="text">DP Quantity <span class="error-label">*</span></label>
                  <span>
                    <input type="text" formControlName="ProposedDPGrnQty" class="form-control input-sm" maxlength="12"
                      [ngClass]="{ 'is-invalid': formErrors.ProposedDPGrnQty }">
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group col-lg-12 col-md-12">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <label class="text">JW Business <span class="error-label">*</span></label>
                  <span>
                    <input type="text" formControlName="ProposedJWValueQty" class="form-control input-sm" maxlength="12"
                      [ngClass]="{ 'is-invalid': formErrors.ProposedJWValueQty }">
                  </span>
                </div>
                <div class="col-lg-6 col-md-6">
                  <label class="text">JW Quantity <span class="error-label">*</span></label>
                  <span>
                    <input type="text" formControlName="ProposedJWGrnQty" class="form-control input-sm" maxlength="12"
                      [ngClass]="{ 'is-invalid': formErrors.ProposedJWGrnQty }">
                  </span>
                </div>
              </div>
            </div>
          </fieldset>

          <!-- Modal footer -->
          <div class="modal-footer col-md-12  page-footer">
            <button type="submit" class="mr-3 btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" (click)="dismiss()" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Delete?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">This record no longer will be available in the system. Are you sure?</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="dismiss()">Cancel</button>
        <button class="btn btn-primary" (click)="DeleteBusinessDetails()">Yes</button>
      </div>
    </div>
  </div>
</div>

<button #modalOpenMsgButton id="modalOpenMsgButton" type="button" data-target="#myMsgModal" data-backdrop="static"
  data-keyboard="false" data-toggle="modal" style="display:none;">
</button>
<!-- Message Modal-->
<div class="modal fade" id="myMsgModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ActionMessage}}</h5>
        <!-- <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button> -->
        <button class="btn btn-primary" data-dismiss="modal" type="button">OK</button>
      </div>
      <!-- <div class="modal-body">{{ActionMessage}}</div> -->
      <!-- <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div> -->
    </div>
  </div>
</div>