body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #333333;
  overflow-x: hidden;
  line-height: 24px;
}

.no-padding {padding: 0;}
ul {padding: 0;margin: 0;list-style: none;}

a, a:hover, button, button:focus, a:focus, img {
  text-decoration: none;
  outline: none;
}

h2, .h2 {font-size: 2rem;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {margin-bottom: 0.5rem;font-family: inherit;font-weight: 500;line-height: 1.2;color: inherit;}

img {border: none;max-width: 100%;}
.bg-dark {background-color: #7d2d30 !important;}
.shadow {box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;}
.flex-md-nowrap {flex-wrap: nowrap !important;}

.btn-primary, .btn-primary:hover, .btn-primary:active {background-color: #f58220 !important;border-color: #f58220 !important;}
.ovx{overflow-x:auto;z-index: 1;}
/*.cont-body {display: inline; float:left; margin-top: 70px; width: 100%; position: relative; min-height: 375px;}*/
.cont-body {display: inline; float:left; width: 100%; position: relative; min-height: 375px;top: 65px;}

.success {color: #468847;background-color: #dff0d8;border: 1px solid #d6e9c6;}
.error {color: #b94a48;background-color: #f2dede;border: 1px solid rgba(185, 74, 72, 0.3);}
.mandatory {color: red;}
.error-label, .req-popup-label {color: red;font-size: 12px;font-weight: 500;}

.input-sm{height: 30px;padding: 5px 10px;font-size: 12px;line-height: 1.5;border-radius: 3px;width: 100% !important;}
.input-lg {height: 46px;padding: 10px 16px;font-size: 18px;line-height: 1.3333333;border-radius: 6px;}
/*==================
 HEADER SECTION
====================*/

#mu-header {border-bottom: 1px solid #ddd;position: fixed;left: 0;top: 0;right: 0;width: 100%;z-index: 999;height:60px;}
p.header {font-weight: bold;color: #fff;font-size: 20px;text-align: center;margin-top: 15px;display:block;}
.col-logo{position: relative;padding-right: 15px;padding-left: 15px;float: left;width: 150px;}

.tog{width:calc(100% - 535px)}
.navbar-brand-kk{margin-top: 15px;float: left;}
#navbar{width: 380px;}
.navbar-brand-kk,
#navbar,
#navbar li a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-toggle:hover, .navbar-toggle:focus {background-color: #ddd;}
.navbar-collapse {border-color: #e7e7e7;}
.navbar-default {border-color: #e7e7e7;}
.navbar-toggle {
  position: relative;float: right;padding: 9px 10px;margin-top: 15px;
  background-color: transparent;border: 1px solid #ddd;border-radius: 4px;cursor:pointer;
}
.navbar-toggle:focus {outline: 0;}
.navbar-toggle .icon-bar {display: block;width: 22px;height: 2px;border-radius: 1px;background-color: #888;}
.navbar-toggle .icon-bar + .icon-bar {margin-top: 4px;}

/*==================
 NAVBAR SECTION
====================*/

#top-menu {padding-left: 0;margin-bottom: 0;list-style: none;margin-top: 10px;}
#top-menu > li {position: relative;display: inline-block;text-align: center;}
li.logout{display:none !important;}
#top-menu > li > a {
  display: block;
  font-size: 15px;
  color: #c5bda2;
  height: 35px;
  vertical-align: middle;
  text-align: center;
  padding: 5px 15px 10px 15px;
}
#top-menu>li:hover>a, #top-menu>li>a.active {background: #c5bda2;color: #62282a;}

.usericon {margin-right: 20px;margin-top: 15px;}
.usericon li {list-style: none;}
.usericon li a {color: #7d2d30;}
.usericon li .dropdown-menu {left: 88%;top: 40px;text-align: left;padding-left: 5px;}
.usericon li a.dropdown-toggle {display: inline-block !important;color: #fff;line-height: 25px;vertical-align: middle;}
.usericon li a.dropdown-toggle img {margin-right: 5px;}


/*-------------------------scrol to top--------------------------------*/
.scrollToTop {
  font-size: 30px; text-align: center; text-decoration: none; width: 55px; height: 55px;
  border-radius: 50%; color: #fff; position: fixed; line-height: 50px; bottom: 60px;
  right: 20px; z-index: 999; display: none;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.scrollToTop:hover, .scrollToTop:focus {color: #fff;}
/*-------------------------END scrol to top--------------------------------*/


/*==================
 TABLE SECTION
====================*/
table.table-striped a {color: #333;}
table.table-striped thead {background: #dddddd;color: #882933;}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, 
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: center !important;
  font-weight: normal;
  text-align: center;
  padding: 5px;
  border: 1px solid #bdbcbc;
  font-size: 14px;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {background-color: #f9f9f9;}
.table-striped>tbody>tr:nth-child(2n+2)>td, .table-striped>tbody>tr:nth-child(2n+2)>th {background-color: #fff;}

.search {background-color: #fff;}
.search input[type="text"] {margin-bottom: 0px;width: 100%;border-top: none;border-left: none;border-radius: 0px;height: 20px;}
.search input[type="text"]:first-child {border-left: solid 1px lightgrey;}
.search input[type="text"]:focus {border-top: none;border-left: none;}
.table>thead>tr.search, .table>thead>tr.search>th, .table>thead>tr.search>td {
  vertical-align: middle !important;
  font-weight: normal !important;
  text-align: left !important;
  padding: 0px !important;
  border: none !important;
}


/*==================
 MODAL DESIGN
====================*/
.moveButton{width:50px;}
.moveButton:first-child{margin-top:100px;}
.mDown, .mUp, .brHead{display:none;}
.mt100{margin-top:100px;}
.brHeadDiv{margin-top: 4px;float: right;margin-left: 5px;}
.modal-footer {display: block;}
.page-footer {margin: 0 auto;width: 210px;}
#msgModalLabel {font-size: 18px;}

/*==================
 Other SECTION
====================*/
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
z-index: 100;
padding: 48px 0 0;
box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar-sticky {position: relative;top: 0;height: calc(100vh - 48px);padding-top: .5rem;overflow-x: hidden;overflow-y: auto;}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {position: -webkit-sticky;position: sticky;}
}

.sidebar .nav-link {font-weight: 500;color: #333;padding: 1rem;}
.sidebar .nav-link .feather {margin-right: 4px;color: #999;}
.sidebar .nav-link.active {
color: #333;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
color: inherit;
}

.sidebar-heading {
font-size: .75rem;
text-transform: uppercase;
}

.main-div {
  margin: 10px;
  width: 100%;
}
.main-div .col {
  padding: 0px;
  border: 1px solid #bdbcbc;
  background-color: #f4f4f4;
}

.main-div label.text {
  float: left;
  font-weight: 600;
}

.main-div label.text span {
  padding-left: 5px;
  font-weight: normal;
  font-size: small;
}

.main-div .form-group {
  padding-left: 0px;
}

/* input[type="text"]{margin-bottom: 15px;} */

input[type="text"] {
  margin-bottom: 5px;
}

select {
  margin-bottom: 10px;
}

.content-heading {
  margin-bottom: 20px;
  border-bottom: 1px solid #bdbcbc;
  width: 100%;
  padding: 10px 15px;
  background: #dddddd;
  font-size: 14px;
  color: #7d2d30;
  font-weight: bold;
}

.pname {
  font-weight: bold;
}

/*------------------------- Glyph Icon ----------------------------*/
a.glyphicon-expand {
  font-size: 18px;
  font-weight: bold;
  width: 1em;
  text-decoration: none;
  line-height: 1;
  background-color: #7d2d30;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin-right: 5px;
  position: relative;
  top: 1px;
  border: solid 1px;
  border-radius: 48%;
}

a.glyphicon-expand span {
  position: relative;
  top: -2px;
}


/*
============= Added by Ashutosh for collapse form and its sections
*/

.slider, .detailslider {
  padding: 0 18px;
  /* max-height: 500px; */
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.slider.closed, .detailslider.closed {
  max-height: 0;
}

.col-md-22 {
  float: left;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-22 {
    flex: 0 0 19.666667%;
    max-width: 19.666667%;
  }
}


@media (max-width: 320px) {
  
  .nav-tabs {
    width: 110%;
  }
  .nav-link {
    padding: 0.3rem 0.3rem;
    font-size: 12px;
  }
  .content-heading {
    margin-bottom: 10px;
    padding: 10px;
  }
  a.glyphicon-expand {
    font-size: 15px;
  }
  .pl-4, .px-4 {
    padding-left: 0px;
  }
  .detail-page {
    width: 95%
  }
  .expand-all {
    width: 95%
  }
  .py-4 {
    display: none;
  }
}

.py-4 {
  margin-left: 5px;
}

.modal-footer {
  display: block;
}

.invalid-dept .multiselect-dropdown .dropdown-btn {
  border: 1px solid #dc3545 !important;
}

.invalid-dept .cuppa-dropdown {
  border: 1px solid #dc3545 !important;
}

.is-invalid .ngx-dropdown-button {
  border: 1px solid red !important;
}

.multiselect-dropdown span.dropdown-down {
  border-top: 7px solid #000 !important;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
}

.multiselect-dropdown span.dropdown-up {
  border-bottom: 7px solid #000 !important;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
}

.col-md-13 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-19 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

input, button, select, optgroup, textarea {
  font-family: Arial, Helvetica, sans-serif;
}
/*==================
 FOOTER SECTION
====================*/

.footer {
  text-align: center;
  height: 20px;
  font-size: 12px;
  color: white;
  height: 25px;
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

/*==================
 RESPONSIVE DESIGN
====================*/

.col-as-1, .col-as-2, .col-as-3, .col-as-4, .col-as-5, .col-as-6, .col-as-7, .col-as-8, .col-as-9, .col-as-10, .col-as-11, .col-as-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.modal-dialog{
  padding: 10px;
}
@media (min-width: 320px) {
  .col-as-1, .col-as-2, .col-as-3, .col-as-4, .col-as-5, .col-as-6, .col-as-7, .col-as-8, .col-as-9, .col-as-10, .col-as-11, .col-as-12 {
    float: left;
  }
  .col-as-12 {
    width: 100%;
  }
  .col-as-11 {
    width: 91.66666667%;
  }
  .col-as-10 {
    width: 83.33333333%;
  }
  .col-as-9 {
    width: 75%;
  }
  .col-as-8 {
    width: 66.66666667%;
  }
  .col-as-7 {
    width: 58.33333333%;
  }
  .col-as-6 {
    width: 50%;
  }
  .col-as-5 {
    width: 41.66666667%;
  }
  .col-as-4 {
    width: 33.33333333%;
  }
  .col-as-3 {
    width: 25%;
  }
  .col-as-2 {
    width: 16.66666667%;
  }
  .col-as-1 {
    width: 8.33333333%;
  }
  
}


@media (max-width: 360px) {
  .moveButton{width:35px;}
  .mDown, .mUp, .brHead{display:block;}
  .mLeft, .mRight, .brHide{display:none;}
  .moveButton:first-child{margin-top:0px;}
  .moveButton:last-child{margin-left:10px;}
  .mtMinus15{margin-top:-15px;}
  .brHeadDiv{margin-top:-5px;margin-left:0px;}
  .modal-header .close{padding:7px;}
  
}

@media (min-width: 768px) {
  .navbar-toggle{display: none;}
  #navbar{display: block !important;height: auto !important;padding-bottom: 0;}
  .modal-lg {max-width: 840px;}
}

@media (max-width: 767px) {
  p.header{display: none;}
  .usericon{display: none;}
  li.logout{display: block;}

  .tog{width: calc(100% - 535px);}
  #navbar{max-width: 100%;width: 100%}
  #top-menu{width:100%;margin-top: 0px;background-color: #fff;text-align: center;}
  #top-menu > li {display: block;}
  #top-menu > li > a{color:#333}
  #top-menu > li:hover > a{color:#62282a; text-decoration: underline;}


  .moveButton{width:35px;}
  .mDown, .mUp, .brHead{display:block;}
  .mLeft, .mRight, .brHide{display:none;}
  .moveButton:first-child{margin-top:0px;}
  .moveButton:last-child{margin-left:10px;}
  .mtMinus15{margin-top:-15px;}
  .brHeadDiv{margin-top:-5px;margin-left:0px;}
  .modal-header .close{padding:7px;}
  
}


.different{background-color:red !important;color:#fff;}
#logContainer a{text-decoration:underline;}
.differnet a{color:#fff !important;}