<div class="ovx">

  <form [formGroup]="activityFiltersForm" (ngSubmit)="GetVendorHistory()">

    <div class="form-group col-lg-8 col-md-8">

      <div class="row">

        <div class="col-md-4">
          <label class="text">From Date
            <i class="mandatory">*</i>
          </label>
          <span>
            <input (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.FromDate}"
              formControlName="FromDate" type="date" [min]="minDate" [max]="maxDate" class="form-control input-sm" />
          </span>
        </div>

        <div class="col-md-4">
          <label class="text">To Date
            <i class="mandatory">*</i>
          </label>
          <span>
            <input (blur)="LogValidationErrors()" [ngClass]="{'is-invalid': formErrors.ToDate}" formControlName="ToDate"
              type="date" [min]="minDate" [max]="maxDate" class="form-control input-sm" />
          </span>
        </div>

        <div class="col-md-2">
          <span>
            <button style="margin-top: 30px;" class="input-sm form-control btn btn-primary">Submit</button>
          </span>
        </div>

        <div class="col-md-2">
          <span *ngIf="inputParamsForExcel">
            <button type="button" style="margin-top: 30px;" (click)="ExportToExcel()"
              class="input-sm form-control btn btn-primary">Export To Excel</button>
          </span>
        </div>

      </div>

    </div>

  </form>

</div>

<div class="clearfix"></div>
<div class="col-sm-12 col-md-12 col-as-12 ovx" style="margin-top:10px;">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Sub Contracting Unit Name</th>
        <th scope="col">Nature of Sub Contracting Unit</th>
        <th scope="col">Approved Production Units</th>
        <th scope="col">Monthly Capacity</th>
        <th scope="col">Minimal Capacity</th>
        <th scope="col">Lean Months</th>
        <th scope="col">Lean Capacity</th>
        <th scope="col">Action By</th>
        <th scope="col">Action On</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td colspan="10" *ngIf="!productionList || productionList.length === 0">No Record Found</td>
      </tr>
      <ng-container *ngFor="let production of productionList;index as i;">
        <div class="panel-group"></div>
        <tr>
          <td>{{production.SubContractingName}}</td>
          <td>{{production.NatureOfSubContracting}}</td>
          <td>{{production.ApprovedProductionCount}}</td>
          <td>{{production.MonthlyCapacity}}</td>
          <td>{{production.MinimalCapacity}}</td>
          <td>{{production.LeanMonths}}</td>
          <td>{{production.LeanCapacity}}</td>
          <td>{{production.ActionBy}}</td>
          <td>{{production.ActionOn}}</td>
          <td>
            <a class="ml-2" title="View Address" href="javascript:void(0)" [attr.data-target]="'#Collapse' + (i + 1)"
              data-toggle="collapse">
              <i class="fa fa-address-book"></i>
            </a>
          </td>
        </tr>
        <tr class="collapse" id="{{'Collapse' + (i + 1)}}">
          <td colspan="11">
            <table class="table table-hover table-sm">
              <thead class="table-warning">
                <tr>
                  <th>Address</th>
                  <th>Phone</th>
                  <th>State</th>
                  <th>City</th>
                  <th>PIN</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{production.Address}}</td>
                  <td>{{production.Phone}}</td>
                  <td>{{production.StateCode}}</td>
                  <td>{{production.CityCode}}</td>
                  <td>{{production.Pin}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<button #alertModalButton type="button" data-target="#AlertModal" data-backdrop="static" data-keyboard="false"
  data-toggle="modal" style="display:none;">
</button>

<div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{PopUpMessage}}</h5>
        <button class="btn btn-primary" type="button" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>